admin_workflow.json
{"updatedAt":"2026-03-08T01:01:33.709Z","createdAt":"2026-03-07T04:34:32.577Z","id":"GvwMitmw3BGUZ9Q9","name":"De paseo en fincas owner admin commands","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"responseMode":"responseNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-2128,2240],"id":"32cb18ca-0546-48ce-9037-df3e9a03c6eb","name":"When admin chat message received","webhookId":"d41cd3e9-babb-469a-b7fb-f15994bf6e9a"},{"id":"85a5b27f-32bf-4f3a-a7c3-c35e847c113f","name":"Filtro admin commands","type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1888,2240],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"37043cab-9cdf-42b8-9cfc-9f6a13d6f551","leftValue":"={{ /^\\/(disponible|no-disponible)\\b/i.test(String($json.chatInput || '').trim()) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}}},{"id":"3ca59fb0-bf2a-46ea-af29-f76eb8711926","name":"Parse admin command","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,2240],"parameters":{"jsCode":"const input = String($json.chatInput || '').trim();\nconst matchDisponible = input.match(/^\\/disponible\\s+(\\S+)\\s+(\\S+)\\s+([0-9.,]+)$/i);\nconst matchNoDisponible = input.match(/^\\/no-disponible\\s+(\\S+)\\s+(\\S+)$/i);\n\nlet valid = false;\nlet command = null;\nlet fincaId = null;\nlet conversationKey = null;\nlet precioNoche = null;\nlet ownerResponse = null;\n\nif (matchDisponible) {\n  valid = true;\n  command = 'disponible';\n  fincaId = matchDisponible[1];\n  conversationKey = matchDisponible[2];\n  precioNoche = Number(matchDisponible[3].replace(/[^\\d.-]/g, ''));\n  ownerResponse = {\n    disponible: true,\n    finca_id: fincaId,\n    precio_noche: Number.isFinite(precioNoche) ? precioNoche : null,\n    responded_at: new Date().toISOString(),\n    source: 'admin_chat',\n  };\n}\n\nif (matchNoDisponible) {\n  valid = true;\n  command = 'no-disponible';\n  fincaId = matchNoDisponible[1];\n  conversationKey = matchNoDisponible[2];\n  ownerResponse = {\n    disponible: false,\n    finca_id: fincaId,\n    responded_at: new Date().toISOString(),\n    source: 'admin_chat',\n  };\n}\n\nreturn [\n  {\n    json: {\n      input,\n      valid,\n      command,\n      finca_id: fincaId,\n      conversation_key: conversationKey,\n      precio_noche: precioNoche,\n      owner_response: ownerResponse,\n    },\n  },\n];"}},{"id":"dad4e602-361e-4bb5-a5cb-10abc2f40f7d","name":"If admin command valid","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1408,2240],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f12494db-fa5f-4ab7-a623-1db93af1173d","leftValue":"={{ $json.valid === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}}},{"id":"aec3f693-7150-4233-995e-55665408caf6","name":"Update owner response","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1168,2096],"credentials":{"postgres":{"id":"CKoiBGlPXq82taIc","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"update public.conversations\nset\n  owner_response = {{ \"'\" + JSON.stringify($json.owner_response).replace(/'/g, \"''\") + \"'::jsonb\" }},\n  waiting_for = 'CLIENT',\n  last_interaction = now(),\n  updated_at = now()\nwhere wa_id = {{ \"'\" + String($json.conversation_key).replace(/'/g, \"''\") + \"'\" }}\nreturning wa_id, current_state, owner_response;","options":{}}},{"id":"9367ee2a-ce14-4388-a202-38aa266fb177","name":"Build valid admin response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,2096],"parameters":{"assignments":{"assignments":[{"id":"f5cdfb8d-ebd2-4c57-be27-1c73490288d1","name":"response_text","value":"={{ $json.wa_id ? 'Listo. Registré la respuesta del propietario para la conversación ' + $json.wa_id + '.' : 'No encontré esa conversación en Postgres.' }}","type":"string"}]},"options":{}}},{"id":"005e4f53-6fd4-451c-9181-1df01db68f5e","name":"Build invalid admin response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,2384],"parameters":{"assignments":{"assignments":[{"id":"34dc0f4d-5e75-4aa2-85e1-6b231023552d","name":"response_text","value":"='Comando inválido. Usa /disponible <finca_id> <conversation_key> <precio_noche> o /no-disponible <finca_id> <conversation_key>'","type":"string"}]},"options":{}}},{"parameters":{"message":"={{ $json.response_text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1.2,"position":[-688,2240],"id":"202747bc-6c71-4a46-8114-5565d5a9b454","name":"Admin Chat","webhookId":"9fdf031a-9533-437e-b11f-014522330f4a"}],"connections":{"When admin chat message received":{"main":[[{"node":"Filtro admin commands","type":"main","index":0}]]},"Filtro admin commands":{"main":[[{"node":"Parse admin command","type":"main","index":0}]]},"Parse admin command":{"main":[[{"node":"If admin command valid","type":"main","index":0}]]},"If admin command valid":{"main":[[{"node":"Update owner response","type":"main","index":0}],[{"node":"Build invalid admin response","type":"main","index":0}]]},"Update owner response":{"main":[[{"node":"Build valid admin response","type":"main","index":0}]]},"Build valid admin response":{"main":[[{"node":"Admin Chat","type":"main","index":0}]]},"Build invalid admin response":{"main":[[{"node":"Admin Chat","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"e9c149cd-cbab-462a-8856-ea3f2dc05665","activeVersionId":"e9c149cd-cbab-462a-8856-ea3f2dc05665","versionCounter":7,"triggerCount":1,"shared":[{"updatedAt":"2026-03-07T04:34:32.577Z","createdAt":"2026-03-07T04:34:32.577Z","role":"workflow:owner","workflowId":"GvwMitmw3BGUZ9Q9","projectId":"1fHxc7a4mm0cslGu","project":{"updatedAt":"2025-06-15T06:32:54.281Z","createdAt":"2025-06-15T06:16:26.028Z","id":"1fHxc7a4mm0cslGu","name":"JUANDAVID VIZCAYA <jd@vizcaya.co>","type":"personal","icon":null,"description":null,"creatorId":"63eb5646-3a36-4b34-9981-c398d6f72574"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-08T01:01:33.713Z","createdAt":"2026-03-08T01:01:33.713Z","versionId":"e9c149cd-cbab-462a-8856-ea3f2dc05665","workflowId":"GvwMitmw3BGUZ9Q9","nodes":[{"parameters":{"options":{"responseMode":"responseNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-2128,2240],"id":"32cb18ca-0546-48ce-9037-df3e9a03c6eb","name":"When admin chat message received","webhookId":"d41cd3e9-babb-469a-b7fb-f15994bf6e9a"},{"id":"85a5b27f-32bf-4f3a-a7c3-c35e847c113f","name":"Filtro admin commands","type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1888,2240],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"37043cab-9cdf-42b8-9cfc-9f6a13d6f551","leftValue":"={{ /^\\/(disponible|no-disponible)\\b/i.test(String($json.chatInput || '').trim()) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}}},{"id":"3ca59fb0-bf2a-46ea-af29-f76eb8711926","name":"Parse admin command","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,2240],"parameters":{"jsCode":"const input = String($json.chatInput || '').trim();\nconst matchDisponible = input.match(/^\\/disponible\\s+(\\S+)\\s+(\\S+)\\s+([0-9.,]+)$/i);\nconst matchNoDisponible = input.match(/^\\/no-disponible\\s+(\\S+)\\s+(\\S+)$/i);\n\nlet valid = false;\nlet command = null;\nlet fincaId = null;\nlet conversationKey = null;\nlet precioNoche = null;\nlet ownerResponse = null;\n\nif (matchDisponible) {\n  valid = true;\n  command = 'disponible';\n  fincaId = matchDisponible[1];\n  conversationKey = matchDisponible[2];\n  precioNoche = Number(matchDisponible[3].replace(/[^\\d.-]/g, ''));\n  ownerResponse = {\n    disponible: true,\n    finca_id: fincaId,\n    precio_noche: Number.isFinite(precioNoche) ? precioNoche : null,\n    responded_at: new Date().toISOString(),\n    source: 'admin_chat',\n  };\n}\n\nif (matchNoDisponible) {\n  valid = true;\n  command = 'no-disponible';\n  fincaId = matchNoDisponible[1];\n  conversationKey = matchNoDisponible[2];\n  ownerResponse = {\n    disponible: false,\n    finca_id: fincaId,\n    responded_at: new Date().toISOString(),\n    source: 'admin_chat',\n  };\n}\n\nreturn [\n  {\n    json: {\n      input,\n      valid,\n      command,\n      finca_id: fincaId,\n      conversation_key: conversationKey,\n      precio_noche: precioNoche,\n      owner_response: ownerResponse,\n    },\n  },\n];"}},{"id":"dad4e602-361e-4bb5-a5cb-10abc2f40f7d","name":"If admin command valid","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1408,2240],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f12494db-fa5f-4ab7-a623-1db93af1173d","leftValue":"={{ $json.valid === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}}},{"id":"aec3f693-7150-4233-995e-55665408caf6","name":"Update owner response","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1168,2096],"credentials":{"postgres":{"id":"CKoiBGlPXq82taIc","name":"Postgres account"}},"parameters":{"operation":"executeQuery","query":"update public.conversations\nset\n  owner_response = {{ \"'\" + JSON.stringify($json.owner_response).replace(/'/g, \"''\") + \"'::jsonb\" }},\n  waiting_for = 'CLIENT',\n  last_interaction = now(),\n  updated_at = now()\nwhere wa_id = {{ \"'\" + String($json.conversation_key).replace(/'/g, \"''\") + \"'\" }}\nreturning wa_id, current_state, owner_response;","options":{}}},{"id":"9367ee2a-ce14-4388-a202-38aa266fb177","name":"Build valid admin response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,2096],"parameters":{"assignments":{"assignments":[{"id":"f5cdfb8d-ebd2-4c57-be27-1c73490288d1","name":"response_text","value":"={{ $json.wa_id ? 'Listo. Registré la respuesta del propietario para la conversación ' + $json.wa_id + '.' : 'No encontré esa conversación en Postgres.' }}","type":"string"}]},"options":{}}},{"id":"005e4f53-6fd4-451c-9181-1df01db68f5e","name":"Build invalid admin response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,2384],"parameters":{"assignments":{"assignments":[{"id":"34dc0f4d-5e75-4aa2-85e1-6b231023552d","name":"response_text","value":"='Comando inválido. Usa /disponible <finca_id> <conversation_key> <precio_noche> o /no-disponible <finca_id> <conversation_key>'","type":"string"}]},"options":{}}},{"parameters":{"message":"={{ $json.response_text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1.2,"position":[-688,2240],"id":"202747bc-6c71-4a46-8114-5565d5a9b454","name":"Admin Chat","webhookId":"9fdf031a-9533-437e-b11f-014522330f4a"}],"connections":{"When admin chat message received":{"main":[[{"node":"Filtro admin commands","type":"main","index":0}]]},"Filtro admin commands":{"main":[[{"node":"Parse admin command","type":"main","index":0}]]},"Parse admin command":{"main":[[{"node":"If admin command valid","type":"main","index":0}]]},"If admin command valid":{"main":[[{"node":"Update owner response","type":"main","index":0}],[{"node":"Build invalid admin response","type":"main","index":0}]]},"Update owner response":{"main":[[{"node":"Build valid admin response","type":"main","index":0}]]},"Build valid admin response":{"main":[[{"node":"Admin Chat","type":"main","index":0}]]},"Build invalid admin response":{"main":[[{"node":"Admin Chat","type":"main","index":0}]]}},"authors":"JUANDAVID VIZCAYA","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-08T01:01:33.841Z","id":155,"workflowId":"GvwMitmw3BGUZ9Q9","versionId":"e9c149cd-cbab-462a-8856-ea3f2dc05665","event":"deactivated","userId":"63eb5646-3a36-4b34-9981-c398d6f72574"},{"createdAt":"2026-03-08T01:01:33.878Z","id":156,"workflowId":"GvwMitmw3BGUZ9Q9","versionId":"e9c149cd-cbab-462a-8856-ea3f2dc05665","event":"activated","userId":"63eb5646-3a36-4b34-9981-c398d6f72574"}]}}