chatwoot_outbound_sender_workflow.json
{
  "updatedAt": "2026-03-25T05:18:51.822Z",
  "createdAt": "2026-03-10T04:54:50.601Z",
  "id": "pLyrdDO3mneaCp7m",
  "name": "Chatwoot Outbound Sender - De Paseo en Fincas",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "db299595-9290-4942-a758-faa1105280d8",
      "name": "When outbound sender is called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot/outbound-sender/async",
        "options": {}
      },
      "id": "a1b2c3d4-async-webhook-trigger",
      "name": "Async media webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        420
      ],
      "webhookId": "async-outbound-sender"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\nconst input = raw.body || raw;\nconst compact = (value) => String(value ?? '').trim();\n\nfunction normalizeSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nconst normalizedSequence = normalizeSequence(input.outbound_sequence_json || input.outbound_sequence);\n\nreturn [\n  {\n    json: {\n      chatwoot_id: compact(input.chatwoot_id || '') || null,\n      private: input.private === true,\n      chatwoot_account_id: compact(input.chatwoot_account_id || '1') || '1',\n      chatwoot_api_token: compact(input.chatwoot_api_token || '7paF3kLsjSEPvXqgHPEgPTEq') || '7paF3kLsjSEPvXqgHPEgPTEq',\n      outbound_sequence: normalizedSequence,\n      outbound_sequence_json: JSON.stringify(normalizedSequence),\n      outbound_message: compact(input.outbound_message || input.message || input.final_whatsapp_text || ''),\n      final_whatsapp_text: compact(input.final_whatsapp_text || input.outbound_message || input.message || ''),\n    },\n  },\n];"
      },
      "id": "96c3f625-843c-4e0a-a341-af6a27c8ccbb",
      "name": "Normalize input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json || {};\nconst compact = (value) => String(value ?? '').trim();\nconst helperRequest =\n  typeof $httpRequest === 'function'\n    ? $httpRequest\n    : typeof this !== 'undefined' && this?.helpers?.httpRequest\n      ? this.helpers.httpRequest.bind(this.helpers)\n      : null;\n\nfunction parseSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nfunction uniqueStrings(values = []) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const key = compact(value);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    out.push(key);\n  }\n  return out;\n}\n\nfunction extractDriveFolderId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/drive\\/folders\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction extractDriveFileId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction isDriveFolderUrl(url) {\n  return /drive\\.google\\.com\\/drive\\/folders\\//i.test(compact(url));\n}\n\nfunction isDriveFileUrl(url) {\n  const source = compact(url);\n  return /drive\\.google\\.com\\/file\\/d\\//i.test(source) || (/drive\\.google\\.com/i.test(source) && /[?&]id=/.test(source));\n}\n\nfunction directDriveDownloadUrl(fileId) {\n  return 'https://drive.google.com/uc?export=download&id=' + String(fileId);\n}\n\nasync function fetchText(url) {\n  if (helperRequest) {\n    let response;\n    try {\n      response = await helperRequest({\n        url,\n        method: 'GET',\n        headers: {\n          Accept: 'text/html,application/xhtml+xml',\n          'User-Agent': 'Mozilla/5.0',\n        },\n        json: false,\n        timeout: 30000,\n        ignoreHttpStatusErrors: true,\n        returnFullResponse: true,\n      });\n    } catch (error) {\n      const fallbackResponse = error?.response || error?.context?.response || null;\n      if (!fallbackResponse) throw error;\n      response = fallbackResponse;\n    }\n\n    const statusCode = Number(response.statusCode || response.status || 0);\n    const body = response.body ?? response.data ?? '';\n    const text =\n      typeof body === 'string'\n        ? body\n        : Buffer.isBuffer(body)\n          ? body.toString('utf8')\n          : body instanceof Uint8Array\n            ? Buffer.from(body).toString('utf8')\n            : body instanceof ArrayBuffer\n              ? Buffer.from(new Uint8Array(body)).toString('utf8')\n              : JSON.stringify(body);\n\n    if (statusCode < 200 || statusCode >= 300) {\n      throw new Error('drive_folder_listing_http_' + statusCode);\n    }\n\n    return text;\n  }\n\n  if (typeof fetch === 'function') {\n    const response = await fetch(url, {\n      headers: {\n        Accept: 'text/html,application/xhtml+xml',\n        'User-Agent': 'Mozilla/5.0',\n      },\n      redirect: 'follow',\n    });\n\n    if (!response.ok) {\n      throw new Error('drive_folder_listing_http_' + response.status);\n    }\n\n    return response.text();\n  }\n\n  throw new Error('drive_folder_listing_unavailable');\n}\n\nasync function resolveFolderAssets(folderUrl) {\n  const folderId = extractDriveFolderId(folderUrl);\n  if (!folderId) {\n    throw new Error('drive_folder_id_not_found');\n  }\n\n  const embedUrl = 'https://drive.google.com/embeddedfolderview?id=' + folderId + '#list';\n  const html = await fetchText(embedUrl);\n  const matches = Array.from(html.matchAll(/https:\\/\\/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)\\/view/gi));\n\n  return uniqueStrings(matches.map((match) => directDriveDownloadUrl(match[1]))).map((downloadUrl) => ({\n    source_url: folderUrl,\n    download_url: downloadUrl,\n  }));\n}\n\nasync function resolveSequenceAssets(item) {\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  const assets = [];\n\n  for (const url of rawUrls) {\n    if (isDriveFolderUrl(url)) {\n      const resolved = await resolveFolderAssets(url);\n      assets.push(...resolved);\n      continue;\n    }\n\n    if (isDriveFileUrl(url)) {\n      const fileId = extractDriveFileId(url);\n      if (fileId) {\n        assets.push({\n          source_url: url,\n          download_url: directDriveDownloadUrl(fileId),\n        });\n        continue;\n      }\n    }\n\n    assets.push({\n      source_url: url,\n      download_url: url,\n    });\n  }\n\n  return uniqueStrings(assets.map((asset) => asset.download_url)).map((downloadUrl) => ({\n    download_url: downloadUrl,\n    source_url: assets.find((asset) => asset.download_url === downloadUrl)?.source_url || downloadUrl,\n  }));\n}\n\nfunction createTextItem(content, extra = {}) {\n  const message = compact(content);\n  if (!message) return null;\n\n  return {\n    json: {\n      ...prevData,\n      outbound_item_type: 'text',\n      content: message,\n      private: extra.private === true,\n      property_title: extra.property_title || null,\n      source_url: extra.source_url || null,\n      download_url: extra.download_url || null,\n      send_order: extra.send_order || 0,\n      media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n    },\n  };\n}\n\nconst rawSequence = parseSequence(prevData.outbound_sequence_json || prevData.outbound_sequence);\nconst fallbackMessage = compact(prevData.outbound_message || prevData.final_whatsapp_text);\nconst queue = rawSequence.length\n  ? rawSequence\n  : fallbackMessage\n    ? [{ type: 'text', content: fallbackMessage, private: prevData.private === true }]\n    : [];\n\nconst outboundItems = [];\nlet sendOrder = 1;\n\nfor (const rawItem of queue) {\n  const item = rawItem && typeof rawItem === 'object' ? rawItem : null;\n  if (!item) continue;\n\n  const itemType = compact(item.type || '');\n  const isMediaItem = itemType === 'media_group' || (compact(item.media_url) && itemType !== 'text');\n\n  if (!isMediaItem) {\n    const textItem = createTextItem(item.content, {\n      private: item.private === true || prevData.private === true,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  let assets = [];\n  try {\n    assets = await resolveSequenceAssets(item);\n  } catch {\n    assets = [];\n  }\n\n  if (!assets.length) {\n    const fallbackText = [compact(item.content), ...rawUrls].filter(Boolean).join('\\n');\n    const textItem = createTextItem(fallbackText, {\n      private: item.private === true || prevData.private === true,\n      property_title: item.property_title || null,\n      source_url: rawUrls[0] || null,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  for (let index = 0; index < assets.length; index += 1) {\n    const asset = assets[index];\n    const caption = index === 0 ? compact(item.content) : '';\n\n    outboundItems.push({\n      json: {\n        ...prevData,\n        outbound_item_type: 'media_asset',\n        property_title: item.property_title || null,\n        private: item.private === true || prevData.private === true,\n        caption,\n        send_caption: Boolean(caption),\n        asset_index: index,\n        source_url: asset.source_url || rawUrls[0] || null,\n        download_url: asset.download_url,\n        send_order: sendOrder,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    });\n    sendOrder += 1;\n  }\n}\n\nif (!outboundItems.length) {\n  return [\n    {\n      json: {\n        ...prevData,\n        outbound_item_type: 'noop',\n        send_order: 0,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    },\n  ];\n}\n\nreturn outboundItems;"
      },
      "id": "1b73c07a-c8f9-4d26-aa13-df040deffb7d",
      "name": "Expand outbound items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "618351f2-6a8a-4a2a-8051-5bbe5c264f0f",
      "name": "Loop outbound items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "85768778-14f5-4c37-8263-7ea661b9f3e4",
              "leftValue": "={{ $json.outbound_item_type === 'media_asset' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "9b52d399-591e-481d-9f02-1bcee8325550",
      "name": "Is media outbound item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1220,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "78d01bae-10c8-4aeb-9c93-abce1858cd35",
      "name": "Download media asset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        80
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e3b3b90-bdd0-467a-a3dc-099c3f147aec",
              "leftValue": "={{ Boolean($binary?.data) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ce8f1fc7-bba9-42cf-9e11-8a2c6574fbbd",
      "name": "Media download ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1700,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "content",
              "value": "={{ $('Loop outbound items').item.json.send_caption === true ? String($('Loop outbound items').item.json.caption || '') : '' }}"
            },
            {
              "parameterType": "formData",
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formData",
              "name": "private",
              "value": "={{ $('Loop outbound items').item.json.private === true ? 'true' : 'false' }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 45000
        }
      },
      "id": "7ebadecc-cd17-491f-a244-14212fe4aac0",
      "name": "Upload media to Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        80
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "465bb368-5dfb-456d-b10f-713db940aee9",
              "leftValue": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "1c19a3e2-6ddb-45c2-9059-821419cc5994",
      "name": "Media upload ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2180,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c0a603d-b399-47a9-b015-e4b7bd3047ff",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "e67322b0-6087-4c51-8442-cb550078aa91",
              "name": "result_ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "1e6c78b8-0fa7-48d9-9725-a85c3fa3375e",
              "name": "result_type",
              "value": "media",
              "type": "string"
            },
            {
              "id": "7785b1c7-e148-49ab-b859-00f997641084",
              "name": "result_filename",
              "value": "={{ $binary?.data?.fileName || '' }}",
              "type": "string"
            },
            {
              "id": "1eea427e-8df9-4690-8ad7-99bd4f30e338",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "3ec89434-662d-4ab3-9090-fbfa422994c1",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
              "type": "string"
            },
            {
              "id": "3b2a691f-9e38-4dfb-b35f-5f4d5e4d8b24",
              "name": "result_error",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5ff25f8c-a0b0-48c4-b0b4-584affae1b7c",
      "name": "Record media success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2420,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: 'No pude adjuntar uno de los assets de ' + String($('Loop outbound items').item.json.property_title || 'la finca') + ' en este momento. Te comparto el enlace:\\n' + String($('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || ''), message_type: 'outgoing', private: $('Loop outbound items').item.json.private === true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "3c9fdcdc-c135-4dff-9dec-106bcb53c402",
      "name": "Send media fallback text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        280
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcf15312-d46a-4828-83a8-34caf3e49f92",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "a40cdb78-2feb-4765-a0e9-648d75a205f7",
              "name": "result_ok",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a4843473-16ba-418f-b424-2a603ab55190",
              "name": "result_type",
              "value": "media_fallback",
              "type": "string"
            },
            {
              "id": "39a61402-737d-4be4-af95-fadc97e1868f",
              "name": "result_filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "a7ab991b-f2c5-4d3b-a4ec-cb4e5b3c6427",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "de2daf59-5f27-49bb-809e-eb76e7262795",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
              "type": "string"
            },
            {
              "id": "fd3aefa6-77e4-4ddc-b0f1-9f84fdd39e58",
              "name": "result_error",
              "value": "media_delivery_failed",
              "type": "string"
            },
            {
              "id": "f006a06c-73b5-4121-8462-92d64b59bca7",
              "name": "result_fallback_sent",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "49632a7c-bd39-47c0-8321-0903e1a88e49",
      "name": "Record media fallback result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4834a5f-6c80-4505-9275-21ecb1601b35",
              "leftValue": "={{ $json.outbound_item_type === 'text' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c606a7ce-19c3-4724-a2c4-7c27f33b9507",
      "name": "Is text outbound item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1460,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($json.chatwoot_account_id || \"1\") + '/conversations/' + String($json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: String($json.content || '').trim(), message_type: 'outgoing', private: $json.private === true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f4ba65a4-2ee6-4e9a-8fda-915929423eed",
      "name": "Send Chatwoot text direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        480
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf51ae08-f3e6-4923-94f6-8e6126f1ff7f",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "a2af67ac-fe22-4523-9db4-28ccd48418f7",
              "name": "result_ok",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "type": "boolean"
            },
            {
              "id": "beade8c8-97cb-4fcf-87cb-0458264e2f43",
              "name": "result_type",
              "value": "text",
              "type": "string"
            },
            {
              "id": "d66eaca0-c9a9-463c-9266-dfc9b201ad01",
              "name": "result_filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "3f30a0fb-2528-4d14-94d8-8de08d521688",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "2c63a762-9440-4ccd-a4d7-e220ff0750ca",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || '' }}",
              "type": "string"
            },
            {
              "id": "e58aaecd-fa18-4319-abf4-f15a87245a3c",
              "name": "result_error",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) ? '' : 'text_delivery_failed' }}",
              "type": "string"
            },
            {
              "id": "f02e6624-2f75-4275-9710-101658006811",
              "name": "result_content",
              "value": "={{ $('Loop outbound items').item.json.content || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b76c604-2894-483a-b5f9-18fd5abc7888",
      "name": "Record text result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nawait new Promise((resolve) => setTimeout(resolve, 350));\nreturn items;"
      },
      "id": "a8f242d6-bca9-4529-b8d3-ce06aa03199d",
      "name": "Pause outbound item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const compact = (value) => String(value ?? '').trim();\nconst items = $input.all();\nconst first = items[0]?.json || {};\n\nconst results = items\n  .map((item) => item.json || {})\n  .filter((json) => compact(json.result_type) && compact(json.result_type) !== 'noop')\n  .map((json) => ({\n    ok: json.result_ok !== false,\n    type: compact(json.result_type),\n    filename: compact(json.result_filename) || null,\n    property_title: compact(json.result_property_title) || null,\n    source_url: compact(json.result_source_url) || null,\n    error: compact(json.result_error) || null,\n    fallback_sent: json.result_fallback_sent === true,\n    content: compact(json.result_content) || null,\n  }));\n\nreturn [\n  {\n    json: {\n      ok: results.every((entry) => entry.ok !== false),\n      chatwoot_id: compact(first.chatwoot_id) || null,\n      sent_count: results.length,\n      results,\n    },\n  },\n];"
      },
      "id": "91c0654e-72a7-4c9c-adfb-cf4282566f94",
      "name": "Summarize outbound results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcec8753-9404-4517-b17a-1b48f1b51251",
              "name": "ok",
              "value": "={{ $json.ok === true }}",
              "type": "boolean"
            },
            {
              "id": "d213dfe5-3f8d-4bce-b46c-2e05116f2132",
              "name": "chatwoot_id",
              "value": "={{ $input.first().json.chatwoot_id || $json.chatwoot_id }}",
              "type": "string"
            },
            {
              "id": "30435673-a4cf-4463-985d-fc8650095baf",
              "name": "sent_count",
              "value": "={{ Number($json.sent_count || 0) }}",
              "type": "number"
            },
            {
              "id": "369eff67-e6ac-4b57-9e44-95f5953c1e7a",
              "name": "results",
              "value": "={{ $json.results || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "2b1607db-ba6a-4e1e-81be-362cd3b41c17",
      "name": "Outbound send result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        680
      ]
    }
  ],
  "connections": {
    "When outbound sender is called": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Async media webhook": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Expand outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand outbound items": {
      "main": [
        [
          {
            "node": "Loop outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop outbound items": {
      "main": [
        [
          {
            "node": "Summarize outbound results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is media outbound item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is media outbound item?": {
      "main": [
        [
          {
            "node": "Download media asset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is text outbound item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media asset": {
      "main": [
        [
          {
            "node": "Media download ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media download ok?": {
      "main": [
        [
          {
            "node": "Upload media to Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send media fallback text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media to Chatwoot": {
      "main": [
        [
          {
            "node": "Media upload ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media upload ok?": {
      "main": [
        [
          {
            "node": "Record media success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send media fallback text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record media success": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send media fallback text": {
      "main": [
        [
          {
            "node": "Record media fallback result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record media fallback result": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is text outbound item?": {
      "main": [
        [
          {
            "node": "Send Chatwoot text direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chatwoot text direct": {
      "main": [
        [
          {
            "node": "Record text result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record text result": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause outbound item": {
      "main": [
        [
          {
            "node": "Loop outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize outbound results": {
      "main": [
        [
          {
            "node": "Outbound send result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outbound send result": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "bfe8b529-1c36-476d-a210-96b8e99cfd63",
  "activeVersionId": "bfe8b529-1c36-476d-a210-96b8e99cfd63",
  "versionCounter": 158,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-10T04:54:50.601Z",
      "createdAt": "2026-03-10T04:54:50.601Z",
      "role": "workflow:owner",
      "workflowId": "pLyrdDO3mneaCp7m",
      "projectId": "1fHxc7a4mm0cslGu",
      "project": {
        "updatedAt": "2025-06-15T06:32:54.281Z",
        "createdAt": "2025-06-15T06:16:26.028Z",
        "id": "1fHxc7a4mm0cslGu",
        "name": "JUANDAVID VIZCAYA <jd@vizcaya.co>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "63eb5646-3a36-4b34-9981-c398d6f72574"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-25T05:18:51.825Z",
    "createdAt": "2026-03-25T05:18:51.825Z",
    "versionId": "bfe8b529-1c36-476d-a210-96b8e99cfd63",
    "workflowId": "pLyrdDO3mneaCp7m",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "db299595-9290-4942-a758-faa1105280d8",
        "name": "When outbound sender is called",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          160,
          160
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chatwoot/outbound-sender/async",
          "options": {}
        },
        "id": "a1b2c3d4-async-webhook-trigger",
        "name": "Async media webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          160,
          420
        ],
        "webhookId": "async-outbound-sender"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json || {};\nconst input = raw.body || raw;\nconst compact = (value) => String(value ?? '').trim();\n\nfunction normalizeSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nconst normalizedSequence = normalizeSequence(input.outbound_sequence_json || input.outbound_sequence);\n\nreturn [\n  {\n    json: {\n      chatwoot_id: compact(input.chatwoot_id || '') || null,\n      private: input.private === true,\n      chatwoot_account_id: compact(input.chatwoot_account_id || '1') || '1',\n      chatwoot_api_token: compact(input.chatwoot_api_token || '7paF3kLsjSEPvXqgHPEgPTEq') || '7paF3kLsjSEPvXqgHPEgPTEq',\n      outbound_sequence: normalizedSequence,\n      outbound_sequence_json: JSON.stringify(normalizedSequence),\n      outbound_message: compact(input.outbound_message || input.message || input.final_whatsapp_text || ''),\n      final_whatsapp_text: compact(input.final_whatsapp_text || input.outbound_message || input.message || ''),\n    },\n  },\n];"
        },
        "id": "96c3f625-843c-4e0a-a341-af6a27c8ccbb",
        "name": "Normalize input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          280
        ]
      },
      {
        "parameters": {
          "jsCode": "const prevData = $input.first().json || {};\nconst compact = (value) => String(value ?? '').trim();\nconst helperRequest =\n  typeof $httpRequest === 'function'\n    ? $httpRequest\n    : typeof this !== 'undefined' && this?.helpers?.httpRequest\n      ? this.helpers.httpRequest.bind(this.helpers)\n      : null;\n\nfunction parseSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nfunction uniqueStrings(values = []) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const key = compact(value);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    out.push(key);\n  }\n  return out;\n}\n\nfunction extractDriveFolderId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/drive\\/folders\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction extractDriveFileId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction isDriveFolderUrl(url) {\n  return /drive\\.google\\.com\\/drive\\/folders\\//i.test(compact(url));\n}\n\nfunction isDriveFileUrl(url) {\n  const source = compact(url);\n  return /drive\\.google\\.com\\/file\\/d\\//i.test(source) || (/drive\\.google\\.com/i.test(source) && /[?&]id=/.test(source));\n}\n\nfunction directDriveDownloadUrl(fileId) {\n  return 'https://drive.google.com/uc?export=download&id=' + String(fileId);\n}\n\nasync function fetchText(url) {\n  if (helperRequest) {\n    let response;\n    try {\n      response = await helperRequest({\n        url,\n        method: 'GET',\n        headers: {\n          Accept: 'text/html,application/xhtml+xml',\n          'User-Agent': 'Mozilla/5.0',\n        },\n        json: false,\n        timeout: 30000,\n        ignoreHttpStatusErrors: true,\n        returnFullResponse: true,\n      });\n    } catch (error) {\n      const fallbackResponse = error?.response || error?.context?.response || null;\n      if (!fallbackResponse) throw error;\n      response = fallbackResponse;\n    }\n\n    const statusCode = Number(response.statusCode || response.status || 0);\n    const body = response.body ?? response.data ?? '';\n    const text =\n      typeof body === 'string'\n        ? body\n        : Buffer.isBuffer(body)\n          ? body.toString('utf8')\n          : body instanceof Uint8Array\n            ? Buffer.from(body).toString('utf8')\n            : body instanceof ArrayBuffer\n              ? Buffer.from(new Uint8Array(body)).toString('utf8')\n              : JSON.stringify(body);\n\n    if (statusCode < 200 || statusCode >= 300) {\n      throw new Error('drive_folder_listing_http_' + statusCode);\n    }\n\n    return text;\n  }\n\n  if (typeof fetch === 'function') {\n    const response = await fetch(url, {\n      headers: {\n        Accept: 'text/html,application/xhtml+xml',\n        'User-Agent': 'Mozilla/5.0',\n      },\n      redirect: 'follow',\n    });\n\n    if (!response.ok) {\n      throw new Error('drive_folder_listing_http_' + response.status);\n    }\n\n    return response.text();\n  }\n\n  throw new Error('drive_folder_listing_unavailable');\n}\n\nasync function resolveFolderAssets(folderUrl) {\n  const folderId = extractDriveFolderId(folderUrl);\n  if (!folderId) {\n    throw new Error('drive_folder_id_not_found');\n  }\n\n  const embedUrl = 'https://drive.google.com/embeddedfolderview?id=' + folderId + '#list';\n  const html = await fetchText(embedUrl);\n  const matches = Array.from(html.matchAll(/https:\\/\\/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)\\/view/gi));\n\n  return uniqueStrings(matches.map((match) => directDriveDownloadUrl(match[1]))).map((downloadUrl) => ({\n    source_url: folderUrl,\n    download_url: downloadUrl,\n  }));\n}\n\nasync function resolveSequenceAssets(item) {\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  const assets = [];\n\n  for (const url of rawUrls) {\n    if (isDriveFolderUrl(url)) {\n      const resolved = await resolveFolderAssets(url);\n      assets.push(...resolved);\n      continue;\n    }\n\n    if (isDriveFileUrl(url)) {\n      const fileId = extractDriveFileId(url);\n      if (fileId) {\n        assets.push({\n          source_url: url,\n          download_url: directDriveDownloadUrl(fileId),\n        });\n        continue;\n      }\n    }\n\n    assets.push({\n      source_url: url,\n      download_url: url,\n    });\n  }\n\n  return uniqueStrings(assets.map((asset) => asset.download_url)).map((downloadUrl) => ({\n    download_url: downloadUrl,\n    source_url: assets.find((asset) => asset.download_url === downloadUrl)?.source_url || downloadUrl,\n  }));\n}\n\nfunction createTextItem(content, extra = {}) {\n  const message = compact(content);\n  if (!message) return null;\n\n  return {\n    json: {\n      ...prevData,\n      outbound_item_type: 'text',\n      content: message,\n      private: extra.private === true,\n      property_title: extra.property_title || null,\n      source_url: extra.source_url || null,\n      download_url: extra.download_url || null,\n      send_order: extra.send_order || 0,\n      media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n    },\n  };\n}\n\nconst rawSequence = parseSequence(prevData.outbound_sequence_json || prevData.outbound_sequence);\nconst fallbackMessage = compact(prevData.outbound_message || prevData.final_whatsapp_text);\nconst queue = rawSequence.length\n  ? rawSequence\n  : fallbackMessage\n    ? [{ type: 'text', content: fallbackMessage, private: prevData.private === true }]\n    : [];\n\nconst outboundItems = [];\nlet sendOrder = 1;\n\nfor (const rawItem of queue) {\n  const item = rawItem && typeof rawItem === 'object' ? rawItem : null;\n  if (!item) continue;\n\n  const itemType = compact(item.type || '');\n  const isMediaItem = itemType === 'media_group' || (compact(item.media_url) && itemType !== 'text');\n\n  if (!isMediaItem) {\n    const textItem = createTextItem(item.content, {\n      private: item.private === true || prevData.private === true,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  let assets = [];\n  try {\n    assets = await resolveSequenceAssets(item);\n  } catch {\n    assets = [];\n  }\n\n  if (!assets.length) {\n    const fallbackText = [compact(item.content), ...rawUrls].filter(Boolean).join('\\n');\n    const textItem = createTextItem(fallbackText, {\n      private: item.private === true || prevData.private === true,\n      property_title: item.property_title || null,\n      source_url: rawUrls[0] || null,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  for (let index = 0; index < assets.length; index += 1) {\n    const asset = assets[index];\n    const caption = index === 0 ? compact(item.content) : '';\n\n    outboundItems.push({\n      json: {\n        ...prevData,\n        outbound_item_type: 'media_asset',\n        property_title: item.property_title || null,\n        private: item.private === true || prevData.private === true,\n        caption,\n        send_caption: Boolean(caption),\n        asset_index: index,\n        source_url: asset.source_url || rawUrls[0] || null,\n        download_url: asset.download_url,\n        send_order: sendOrder,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    });\n    sendOrder += 1;\n  }\n}\n\nif (!outboundItems.length) {\n  return [\n    {\n      json: {\n        ...prevData,\n        outbound_item_type: 'noop',\n        send_order: 0,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    },\n  ];\n}\n\nreturn outboundItems;"
        },
        "id": "1b73c07a-c8f9-4d26-aa13-df040deffb7d",
        "name": "Expand outbound items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          280
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "618351f2-6a8a-4a2a-8051-5bbe5c264f0f",
        "name": "Loop outbound items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          980,
          280
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "85768778-14f5-4c37-8263-7ea661b9f3e4",
                "leftValue": "={{ $json.outbound_item_type === 'media_asset' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "9b52d399-591e-481d-9f02-1bcee8325550",
        "name": "Is media outbound item?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1220,
          280
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 30000
          }
        },
        "id": "78d01bae-10c8-4aeb-9c93-abce1858cd35",
        "name": "Download media asset",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1460,
          80
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "7e3b3b90-bdd0-467a-a3dc-099c3f147aec",
                "leftValue": "={{ Boolean($binary?.data) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "ce8f1fc7-bba9-42cf-9e11-8a2c6574fbbd",
        "name": "Media download ok?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1700,
          80
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formData",
                "name": "content",
                "value": "={{ $('Loop outbound items').item.json.send_caption === true ? String($('Loop outbound items').item.json.caption || '') : '' }}"
              },
              {
                "parameterType": "formData",
                "name": "message_type",
                "value": "outgoing"
              },
              {
                "parameterType": "formData",
                "name": "private",
                "value": "={{ $('Loop outbound items').item.json.private === true ? 'true' : 'false' }}"
              },
              {
                "parameterType": "formBinaryData",
                "name": "attachments[]",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "timeout": 45000
          }
        },
        "id": "7ebadecc-cd17-491f-a244-14212fe4aac0",
        "name": "Upload media to Chatwoot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          80
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "465bb368-5dfb-456d-b10f-713db940aee9",
                "leftValue": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "1c19a3e2-6ddb-45c2-9059-821419cc5994",
        "name": "Media upload ok?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2180,
          80
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c0a603d-b399-47a9-b015-e4b7bd3047ff",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "e67322b0-6087-4c51-8442-cb550078aa91",
                "name": "result_ok",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "1e6c78b8-0fa7-48d9-9725-a85c3fa3375e",
                "name": "result_type",
                "value": "media",
                "type": "string"
              },
              {
                "id": "7785b1c7-e148-49ab-b859-00f997641084",
                "name": "result_filename",
                "value": "={{ $binary?.data?.fileName || '' }}",
                "type": "string"
              },
              {
                "id": "1eea427e-8df9-4690-8ad7-99bd4f30e338",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "3ec89434-662d-4ab3-9090-fbfa422994c1",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
                "type": "string"
              },
              {
                "id": "3b2a691f-9e38-4dfb-b35f-5f4d5e4d8b24",
                "name": "result_error",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "5ff25f8c-a0b0-48c4-b0b4-584affae1b7c",
        "name": "Record media success",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2420,
          -20
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: 'No pude adjuntar uno de los assets de ' + String($('Loop outbound items').item.json.property_title || 'la finca') + ' en este momento. Te comparto el enlace:\\n' + String($('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || ''), message_type: 'outgoing', private: $('Loop outbound items').item.json.private === true }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "3c9fdcdc-c135-4dff-9dec-106bcb53c402",
        "name": "Send media fallback text",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          280
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bcf15312-d46a-4828-83a8-34caf3e49f92",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "a40cdb78-2feb-4765-a0e9-648d75a205f7",
                "name": "result_ok",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "a4843473-16ba-418f-b424-2a603ab55190",
                "name": "result_type",
                "value": "media_fallback",
                "type": "string"
              },
              {
                "id": "39a61402-737d-4be4-af95-fadc97e1868f",
                "name": "result_filename",
                "value": "",
                "type": "string"
              },
              {
                "id": "a7ab991b-f2c5-4d3b-a4ec-cb4e5b3c6427",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "de2daf59-5f27-49bb-809e-eb76e7262795",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
                "type": "string"
              },
              {
                "id": "fd3aefa6-77e4-4ddc-b0f1-9f84fdd39e58",
                "name": "result_error",
                "value": "media_delivery_failed",
                "type": "string"
              },
              {
                "id": "f006a06c-73b5-4121-8462-92d64b59bca7",
                "name": "result_fallback_sent",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "id": "49632a7c-bd39-47c0-8321-0903e1a88e49",
        "name": "Record media fallback result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2180,
          280
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "b4834a5f-6c80-4505-9275-21ecb1601b35",
                "leftValue": "={{ $json.outbound_item_type === 'text' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "c606a7ce-19c3-4724-a2c4-7c27f33b9507",
        "name": "Is text outbound item?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1460,
          480
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($json.chatwoot_account_id || \"1\") + '/conversations/' + String($json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: String($json.content || '').trim(), message_type: 'outgoing', private: $json.private === true }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "f4ba65a4-2ee6-4e9a-8fda-915929423eed",
        "name": "Send Chatwoot text direct",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          480
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bf51ae08-f3e6-4923-94f6-8e6126f1ff7f",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "a2af67ac-fe22-4523-9db4-28ccd48418f7",
                "name": "result_ok",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "type": "boolean"
              },
              {
                "id": "beade8c8-97cb-4fcf-87cb-0458264e2f43",
                "name": "result_type",
                "value": "text",
                "type": "string"
              },
              {
                "id": "d66eaca0-c9a9-463c-9266-dfc9b201ad01",
                "name": "result_filename",
                "value": "",
                "type": "string"
              },
              {
                "id": "3f30a0fb-2528-4d14-94d8-8de08d521688",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "2c63a762-9440-4ccd-a4d7-e220ff0750ca",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || '' }}",
                "type": "string"
              },
              {
                "id": "e58aaecd-fa18-4319-abf4-f15a87245a3c",
                "name": "result_error",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) ? '' : 'text_delivery_failed' }}",
                "type": "string"
              },
              {
                "id": "f02e6624-2f75-4275-9710-101658006811",
                "name": "result_content",
                "value": "={{ $('Loop outbound items').item.json.content || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8b76c604-2894-483a-b5f9-18fd5abc7888",
        "name": "Record text result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2180,
          480
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nawait new Promise((resolve) => setTimeout(resolve, 350));\nreturn items;"
        },
        "id": "a8f242d6-bca9-4529-b8d3-ce06aa03199d",
        "name": "Pause outbound item",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2660,
          280
        ]
      },
      {
        "parameters": {
          "jsCode": "const compact = (value) => String(value ?? '').trim();\nconst items = $input.all();\nconst first = items[0]?.json || {};\n\nconst results = items\n  .map((item) => item.json || {})\n  .filter((json) => compact(json.result_type) && compact(json.result_type) !== 'noop')\n  .map((json) => ({\n    ok: json.result_ok !== false,\n    type: compact(json.result_type),\n    filename: compact(json.result_filename) || null,\n    property_title: compact(json.result_property_title) || null,\n    source_url: compact(json.result_source_url) || null,\n    error: compact(json.result_error) || null,\n    fallback_sent: json.result_fallback_sent === true,\n    content: compact(json.result_content) || null,\n  }));\n\nreturn [\n  {\n    json: {\n      ok: results.every((entry) => entry.ok !== false),\n      chatwoot_id: compact(first.chatwoot_id) || null,\n      sent_count: results.length,\n      results,\n    },\n  },\n];"
        },
        "id": "91c0654e-72a7-4c9c-adfb-cf4282566f94",
        "name": "Summarize outbound results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1220,
          680
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fcec8753-9404-4517-b17a-1b48f1b51251",
                "name": "ok",
                "value": "={{ $json.ok === true }}",
                "type": "boolean"
              },
              {
                "id": "d213dfe5-3f8d-4bce-b46c-2e05116f2132",
                "name": "chatwoot_id",
                "value": "={{ $input.first().json.chatwoot_id || $json.chatwoot_id }}",
                "type": "string"
              },
              {
                "id": "30435673-a4cf-4463-985d-fc8650095baf",
                "name": "sent_count",
                "value": "={{ Number($json.sent_count || 0) }}",
                "type": "number"
              },
              {
                "id": "369eff67-e6ac-4b57-9e44-95f5953c1e7a",
                "name": "results",
                "value": "={{ $json.results || [] }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "id": "2b1607db-ba6a-4e1e-81be-362cd3b41c17",
        "name": "Outbound send result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1480,
          680
        ]
      }
    ],
    "connections": {
      "When outbound sender is called": {
        "main": [
          [
            {
              "node": "Normalize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Async media webhook": {
        "main": [
          [
            {
              "node": "Normalize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize input": {
        "main": [
          [
            {
              "node": "Expand outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand outbound items": {
        "main": [
          [
            {
              "node": "Loop outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop outbound items": {
        "main": [
          [
            {
              "node": "Summarize outbound results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is media outbound item?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is media outbound item?": {
        "main": [
          [
            {
              "node": "Download media asset",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is text outbound item?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download media asset": {
        "main": [
          [
            {
              "node": "Media download ok?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Media download ok?": {
        "main": [
          [
            {
              "node": "Upload media to Chatwoot",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send media fallback text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload media to Chatwoot": {
        "main": [
          [
            {
              "node": "Media upload ok?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Media upload ok?": {
        "main": [
          [
            {
              "node": "Record media success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send media fallback text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record media success": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send media fallback text": {
        "main": [
          [
            {
              "node": "Record media fallback result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record media fallback result": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is text outbound item?": {
        "main": [
          [
            {
              "node": "Send Chatwoot text direct",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Chatwoot text direct": {
        "main": [
          [
            {
              "node": "Record text result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record text result": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pause outbound item": {
        "main": [
          [
            {
              "node": "Loop outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize outbound results": {
        "main": [
          [
            {
              "node": "Outbound send result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Outbound send result": {
        "main": [
          []
        ]
      }
    },
    "authors": "JUANDAVID VIZCAYA",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-25T05:18:52.159Z",
        "id": 569,
        "workflowId": "pLyrdDO3mneaCp7m",
        "versionId": "bfe8b529-1c36-476d-a210-96b8e99cfd63",
        "event": "activated",
        "userId": "63eb5646-3a36-4b34-9981-c398d6f72574"
      }
    ]
  }
}