chatwoot_outbound_sender_workflow.json
{
  "updatedAt": "2026-03-18T21:39:03.496Z",
  "createdAt": "2026-03-10T04:54:50.601Z",
  "id": "pLyrdDO3mneaCp7m",
  "name": "Chatwoot Outbound Sender - De Paseo en Fincas",
  "description": "Outbound sender itemized for media delivery. Expands Drive folders to assets and sends each asset with native HTTP Request nodes.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "db299595-9290-4942-a758-faa1105280d8",
      "name": "When outbound sender is called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot/outbound-sender/async",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-async-webhook-trigger",
      "name": "Async media webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        420
      ],
      "webhookId": "async-outbound-sender"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\nconst input = raw.body || raw;\nconst compact = (value) => String(value ?? '').trim();\n\nfunction normalizeSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nconst normalizedSequence = normalizeSequence(input.outbound_sequence_json || input.outbound_sequence);\n\nreturn [\n  {\n    json: {\n      chatwoot_id: compact(input.chatwoot_id || '') || null,\n      private: input.private === true,\n      chatwoot_account_id: compact(input.chatwoot_account_id || '1') || '1',\n      chatwoot_api_token: compact(input.chatwoot_api_token || '7paF3kLsjSEPvXqgHPEgPTEq') || '7paF3kLsjSEPvXqgHPEgPTEq',\n      outbound_sequence: normalizedSequence,\n      outbound_sequence_json: JSON.stringify(normalizedSequence),\n      outbound_message: compact(input.outbound_message || input.message || input.final_whatsapp_text || ''),\n      final_whatsapp_text: compact(input.final_whatsapp_text || input.outbound_message || input.message || ''),\n      wa_id: compact(input.wa_id || input.conversation_key || ''),\n      whatsapp_access_token: compact(input.whatsapp_access_token || ''),\n      whatsapp_phone_number_id: compact(input.whatsapp_phone_number_id || ''),\n      media_relay_base_url: compact(input.media_relay_base_url || ''),\n    },\n  },\n];"
      },
      "id": "1938bad8-5d51-4061-896b-a9aec6889c74",
      "name": "Normalize input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json || {};\nconst compact = (value) => String(value ?? '').trim();\nconst helperRequest =\n  typeof $httpRequest === 'function'\n    ? $httpRequest\n    : typeof this !== 'undefined' && this?.helpers?.httpRequest\n      ? this.helpers.httpRequest.bind(this.helpers)\n      : null;\n\nfunction parseSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nfunction uniqueStrings(values = []) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const key = compact(value);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    out.push(key);\n  }\n  return out;\n}\n\nfunction extractDriveFolderId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/drive\\/folders\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction extractDriveFileId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction isDriveFolderUrl(url) {\n  return /drive\\.google\\.com\\/drive\\/folders\\//i.test(compact(url));\n}\n\nfunction isDriveFileUrl(url) {\n  const source = compact(url);\n  return /drive\\.google\\.com\\/file\\/d\\//i.test(source) || (/drive\\.google\\.com/i.test(source) && /[?&]id=/.test(source));\n}\n\nfunction directDriveDownloadUrl(fileId) {\n  return 'https://drive.google.com/uc?export=download&id=' + String(fileId);\n}\n\nasync function fetchText(url) {\n  if (helperRequest) {\n    let response;\n    try {\n      response = await helperRequest({\n        url,\n        method: 'GET',\n        headers: {\n          Accept: 'text/html,application/xhtml+xml',\n          'User-Agent': 'Mozilla/5.0',\n        },\n        json: false,\n        timeout: 30000,\n        ignoreHttpStatusErrors: true,\n        returnFullResponse: true,\n      });\n    } catch (error) {\n      const fallbackResponse = error?.response || error?.context?.response || null;\n      if (!fallbackResponse) throw error;\n      response = fallbackResponse;\n    }\n\n    const statusCode = Number(response.statusCode || response.status || 0);\n    const body = response.body ?? response.data ?? '';\n    const text =\n      typeof body === 'string'\n        ? body\n        : Buffer.isBuffer(body)\n          ? body.toString('utf8')\n          : body instanceof Uint8Array\n            ? Buffer.from(body).toString('utf8')\n            : body instanceof ArrayBuffer\n              ? Buffer.from(new Uint8Array(body)).toString('utf8')\n              : JSON.stringify(body);\n\n    if (statusCode < 200 || statusCode >= 300) {\n      throw new Error('drive_folder_listing_http_' + statusCode);\n    }\n\n    return text;\n  }\n\n  if (typeof fetch === 'function') {\n    const response = await fetch(url, {\n      headers: {\n        Accept: 'text/html,application/xhtml+xml',\n        'User-Agent': 'Mozilla/5.0',\n      },\n      redirect: 'follow',\n    });\n\n    if (!response.ok) {\n      throw new Error('drive_folder_listing_http_' + response.status);\n    }\n\n    return response.text();\n  }\n\n  throw new Error('drive_folder_listing_unavailable');\n}\n\nasync function resolveFolderAssets(folderUrl) {\n  const folderId = extractDriveFolderId(folderUrl);\n  if (!folderId) {\n    throw new Error('drive_folder_id_not_found');\n  }\n\n  const embedUrl = 'https://drive.google.com/embeddedfolderview?id=' + folderId + '#list';\n  const html = await fetchText(embedUrl);\n  const matches = Array.from(html.matchAll(/https:\\/\\/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)\\/view/gi));\n\n  return uniqueStrings(matches.map((match) => directDriveDownloadUrl(match[1]))).map((downloadUrl) => ({\n    source_url: folderUrl,\n    download_url: downloadUrl,\n  }));\n}\n\nasync function resolveSequenceAssets(item) {\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  const assets = [];\n\n  for (const url of rawUrls) {\n    if (isDriveFolderUrl(url)) {\n      const resolved = await resolveFolderAssets(url);\n      assets.push(...resolved);\n      continue;\n    }\n\n    if (isDriveFileUrl(url)) {\n      const fileId = extractDriveFileId(url);\n      if (fileId) {\n        assets.push({\n          source_url: url,\n          download_url: directDriveDownloadUrl(fileId),\n        });\n        continue;\n      }\n    }\n\n    assets.push({\n      source_url: url,\n      download_url: url,\n    });\n  }\n\n  return uniqueStrings(assets.map((asset) => asset.download_url)).map((downloadUrl) => ({\n    download_url: downloadUrl,\n    source_url: assets.find((asset) => asset.download_url === downloadUrl)?.source_url || downloadUrl,\n  }));\n}\n\nfunction blockWaitMs(photoCount) {\n  const count = Number(photoCount || 0);\n  return Math.max(15000, 15000 + Math.max(0, count) * 6000);\n}\n\nfunction createTextItem(content, extra = {}) {\n  const message = compact(content);\n  if (!message) return null;\n\n  return {\n    json: {\n      ...prevData,\n      outbound_item_type: 'text',\n      content: message,\n      private: extra.private === true,\n      property_title: extra.property_title || null,\n      source_url: extra.source_url || null,\n      download_url: extra.download_url || null,\n      send_order: extra.send_order || 0,\n      media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      property_group_id: extra.property_group_id || null,\n      wait_after_block_ms: extra.wait_after_block_ms || null,\n    },\n  };\n}\n\nconst rawSequence = parseSequence(prevData.outbound_sequence_json || prevData.outbound_sequence);\nconst fallbackMessage = compact(prevData.outbound_message || prevData.final_whatsapp_text);\nconst queue = rawSequence.length\n  ? rawSequence\n  : fallbackMessage\n    ? [{ type: 'text', content: fallbackMessage, private: prevData.private === true }]\n    : [];\n\nconst outboundItems = [];\nlet sendOrder = 1;\n\nfor (const rawItem of queue) {\n  const item = rawItem && typeof rawItem === 'object' ? rawItem : null;\n  if (!item) continue;\n\n  const itemType = compact(item.type || '');\n  const isMediaItem = itemType === 'media_group' || (compact(item.media_url) && itemType !== 'text');\n\n  if (!isMediaItem) {\n    const textItem = createTextItem(item.content, {\n      private: item.private === true || prevData.private === true,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  let assets = [];\n  try {\n    assets = await resolveSequenceAssets(item);\n  } catch {\n    assets = [];\n  }\n\n  if (!assets.length) {\n    const fallbackText = [compact(item.content), ...rawUrls].filter(Boolean).join('\\n');\n    const textItem = createTextItem(fallbackText, {\n      private: item.private === true || prevData.private === true,\n      property_title: item.property_title || null,\n      source_url: rawUrls[0] || null,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  const propertyGroupId = compact(item.property_group_id || item.property_id || item.property_title || 'media-block-' + sendOrder);\n  const waitAfterBlockMs = blockWaitMs(assets.length);\n\n  for (let index = 0; index < assets.length; index += 1) {\n    const asset = assets[index];\n    const caption = index === 0 ? compact(item.content) : '';\n    const isLastAsset = index === assets.length - 1;\n\n    outboundItems.push({\n      json: {\n        ...prevData,\n        outbound_item_type: 'media_asset',\n        property_title: item.property_title || null,\n        private: item.private === true || prevData.private === true,\n        caption,\n        send_caption: Boolean(caption),\n        asset_index: index,\n        source_url: asset.source_url || rawUrls[0] || null,\n        download_url: asset.download_url,\n        send_order: sendOrder,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n        property_group_id: propertyGroupId,\n        property_group_photo_count: assets.length,\n        wait_after_block_ms: isLastAsset ? waitAfterBlockMs : null,\n      },\n    });\n    sendOrder += 1;\n  }\n}\n\nif (!outboundItems.length) {\n  return [\n    {\n      json: {\n        ...prevData,\n        outbound_item_type: 'noop',\n        send_order: 0,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    },\n  ];\n}\n\nreturn outboundItems;"
      },
      "id": "1fcbe87e-f850-4af0-8e4b-d64897dc3692",
      "name": "Expand outbound items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9808dde9-8173-453d-9c23-1a0d979e49a3",
      "name": "Loop outbound items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "85768778-14f5-4c37-8263-7ea661b9f3e4",
              "leftValue": "={{ $json.outbound_item_type === 'media_asset' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "073a2731-26b0-473d-ab3e-bb03f4630143",
      "name": "Is media outbound item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1340,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "691f3033-00af-4b07-a700-1855e2ac36cc",
      "name": "Download media asset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        80
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e3b3b90-bdd0-467a-a3dc-099c3f147aec",
              "leftValue": "={{ Boolean($binary?.data) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "e2a1a115-1493-4378-bcfc-e31d285b8270",
      "name": "Media download ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1940,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "content",
              "value": "={{ $('Loop outbound items').item.json.send_caption === true ? String($('Loop outbound items').item.json.caption || '') : '' }}"
            },
            {
              "parameterType": "formData",
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formData",
              "name": "private",
              "value": "={{ $('Loop outbound items').item.json.private === true ? 'true' : 'false' }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 45000
        }
      },
      "id": "d4324bee-1e37-433e-bae1-56c030c3d3d1",
      "name": "Upload media to Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        80
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "465bb368-5dfb-456d-b10f-713db940aee9",
              "leftValue": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d06624f4-41be-4713-b0d7-952e744e502f",
      "name": "Media upload ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2420,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ed0647-5078-4bc7-8213-d6ea1e1ecf42",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "d5b0b331-828e-4d91-abb4-84edb9ed496d",
              "name": "result_ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "03a0a9db-50b2-41ff-a695-cdf706225c66",
              "name": "result_type",
              "value": "media",
              "type": "string"
            },
            {
              "id": "4fb3b76b-152c-4ddf-bf23-74bc3a649fe6",
              "name": "result_filename",
              "value": "={{ $binary?.data?.fileName || '' }}",
              "type": "string"
            },
            {
              "id": "02001e48-30af-417a-b1f9-a4861ddf9e31",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "4dec5ced-e29f-40ba-9b46-4f073cc81933",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
              "type": "string"
            },
            {
              "id": "50d6a818-6f92-4794-b3e1-a8f98de8037e",
              "name": "result_error",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "824da43e-3a76-4753-974c-80e5a1ede7fc",
      "name": "Record media success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: 'No pude adjuntar uno de los assets de ' + String($('Loop outbound items').item.json.property_title || 'la finca') + ' en este momento. Te comparto el enlace:\\n' + String($('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || ''), message_type: 'outgoing', private: $('Loop outbound items').item.json.private === true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7eff56e9-743c-47e4-b29c-f2c098144f6a",
      "name": "Send media fallback text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        280
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29fa8f25-37b3-4db6-ae39-4fd5f2119e10",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "665a2d92-6f8d-4dfa-a593-b04289b72a98",
              "name": "result_ok",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "6c5c1f4e-1880-40b5-b635-63f70f239b92",
              "name": "result_type",
              "value": "media_fallback",
              "type": "string"
            },
            {
              "id": "c564691a-3c0e-4d51-9d34-4742970a41a6",
              "name": "result_filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "eb8810aa-bfeb-461b-9e92-42513ab39b4a",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "de20a93a-661a-468c-a1cb-ef30ff87269a",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
              "type": "string"
            },
            {
              "id": "b826e4c1-d2c9-4b8b-87d2-06165d8a73bc",
              "name": "result_error",
              "value": "media_delivery_failed",
              "type": "string"
            },
            {
              "id": "97d33532-d0a3-4b4e-af22-f2c4e6404747",
              "name": "result_fallback_sent",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "6074ceda-b752-4da4-b337-6f48bfe2d4af",
      "name": "Record media fallback result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2420,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4834a5f-6c80-4505-9275-21ecb1601b35",
              "leftValue": "={{ $json.outbound_item_type === 'text' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "96ddcff0-3f0b-400a-9b97-68b6b533ab10",
      "name": "Is text outbound item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1580,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($json.chatwoot_account_id || \"1\") + '/conversations/' + String($json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: String($json.content || '').trim(), message_type: 'outgoing', private: $json.private === true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "1535269d-f10e-419b-903b-a98d615580e1",
      "name": "Send Chatwoot text direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        480
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9078eda9-1a6c-4da1-96b2-3ffc719449fa",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "7dc1cf21-a1e7-42a3-8c4b-256c2920d482",
              "name": "result_ok",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "type": "boolean"
            },
            {
              "id": "5cfc9975-f852-40e6-a11c-5c8908203995",
              "name": "result_type",
              "value": "text",
              "type": "string"
            },
            {
              "id": "062e8ed1-d43a-470f-a63e-378e95f24933",
              "name": "result_filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "ba86d86d-4dd2-40f5-96fd-7507f39bd400",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "e8e9d5cc-efdc-495b-8c98-0c0a00f287b9",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || '' }}",
              "type": "string"
            },
            {
              "id": "e3449aed-2162-4d0a-bc59-0f9248244793",
              "name": "result_error",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) ? '' : 'text_delivery_failed' }}",
              "type": "string"
            },
            {
              "id": "0df7dcf6-b987-495e-92c8-9a4a6a3fa269",
              "name": "result_content",
              "value": "={{ $('Loop outbound items').item.json.content || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "352bb179-885e-47f9-8ff0-0a3a2b3530d1",
      "name": "Record text result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst current = items[0]?.json || {};\nconst hasPreUpload = Boolean(current.whatsapp_media_id);\nconst waitMs = Number(current.wait_after_block_ms || 0);\n\nlet delay;\nif (hasPreUpload) {\n  // Pre-uploaded media: minimal delay, just respect rate limits\n  delay = waitMs > 0 ? Math.min(waitMs, 1500) : 500;\n} else {\n  // Chatwoot path: keep original longer waits\n  delay = Number.isFinite(waitMs) && waitMs > 0 ? waitMs : 350;\n}\n\nawait new Promise((resolve) => setTimeout(resolve, delay));\nreturn items;"
      },
      "id": "d2ce1361-d40f-4129-bba4-e8cb3fc761e7",
      "name": "Pause outbound item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const compact = (value) => String(value ?? '').trim();\nconst items = $input.all();\nconst first = items[0]?.json || {};\n\nconst results = items\n  .map((item) => item.json || {})\n  .filter((json) => compact(json.result_type) && compact(json.result_type) !== 'noop')\n  .map((json) => ({\n    ok: json.result_ok !== false,\n    type: compact(json.result_type),\n    filename: compact(json.result_filename) || null,\n    property_title: compact(json.result_property_title) || null,\n    source_url: compact(json.result_source_url) || null,\n    error: compact(json.result_error) || null,\n    fallback_sent: json.result_fallback_sent === true,\n    content: compact(json.result_content) || null,\n  }));\n\nreturn [\n  {\n    json: {\n      ok: results.every((entry) => entry.ok !== false),\n      chatwoot_id: compact(first.chatwoot_id) || null,\n      sent_count: results.length,\n      results,\n    },\n  },\n];"
      },
      "id": "196e3da5-6df2-469a-860e-d5cafa0e9ee3",
      "name": "Summarize outbound results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcec8753-9404-4517-b17a-1b48f1b51251",
              "name": "ok",
              "value": "={{ $json.ok === true }}",
              "type": "boolean"
            },
            {
              "id": "d213dfe5-3f8d-4bce-b46c-2e05116f2132",
              "name": "chatwoot_id",
              "value": "={{ $input.first().json.chatwoot_id || $json.chatwoot_id }}",
              "type": "string"
            },
            {
              "id": "30435673-a4cf-4463-985d-fc8650095baf",
              "name": "sent_count",
              "value": "={{ Number($json.sent_count || 0) }}",
              "type": "number"
            },
            {
              "id": "369eff67-e6ac-4b57-9e44-95f5953c1e7a",
              "name": "results",
              "value": "={{ $json.results || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "2b1607db-ba6a-4e1e-81be-362cd3b41c17",
      "name": "Outbound send result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst compact = (v) => String(v ?? '').trim();\n\n// Collect unique download_urls from media items\nconst mediaItems = items.filter(item => item.json.outbound_item_type === 'media_asset' && compact(item.json.download_url));\nconst uniqueUrls = [...new Set(mediaItems.map(item => compact(item.json.download_url)))];\n\nif (!uniqueUrls.length) {\n  // No media to pre-upload, pass through all items unchanged\n  return items;\n}\n\n// Build assets array for pre-upload\nconst assets = uniqueUrls.map(url => ({ download_url: url }));\n\n// Call pre-upload endpoint\nconst mediaRelayBase = compact(items[0]?.json?.media_relay_base_url || '');\nconst preUploadUrl = (mediaRelayBase || 'http://localhost:3101') + '/api/whatsapp/pre-upload';\n\nlet mediaIdMap = new Map();\ntry {\n  const response = await this.helpers.httpRequest({\n    url: preUploadUrl,\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ assets }),\n    timeout: 120000,\n    json: true,\n  });\n\n  if (response?.ok && Array.isArray(response.results)) {\n    for (const result of response.results) {\n      if (result.ok && result.media_id) {\n        mediaIdMap.set(compact(result.download_url), {\n          media_id: result.media_id,\n          mime_type: result.mime_type || 'image/jpeg',\n        });\n      }\n    }\n  }\n} catch (err) {\n  // Pre-upload failed, items will fall back to Chatwoot path\n  console.log('[pre-upload] Failed:', err.message || err);\n}\n\nconst uploaded = mediaIdMap.size;\nconst total = uniqueUrls.length;\nconsole.log('[pre-upload] ' + uploaded + '/' + total + ' media assets pre-uploaded to WhatsApp');\n\n// Attach media_ids to items\nreturn items.map(item => {\n  const url = compact(item.json.download_url);\n  const preUploaded = url ? mediaIdMap.get(url) : null;\n  return {\n    json: {\n      ...item.json,\n      whatsapp_media_id: preUploaded?.media_id || null,\n      whatsapp_media_mime: preUploaded?.mime_type || null,\n    },\n  };\n});"
      },
      "id": "41aae652-06a4-4442-9da4-4256f5b982a9",
      "name": "Pre-upload media to WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Loop outbound items').item.json.whatsapp_phone_number_id || '1032537143273895' }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Loop outbound items').item.json.whatsapp_access_token || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  messaging_product: \"whatsapp\",\n  recipient_type: \"individual\",\n  to: String($('Loop outbound items').item.json.wa_id || ''),\n  type: \"image\",\n  image: {\n    id: String($json.whatsapp_media_id || ''),\n    caption: $('Loop outbound items').item.json.send_caption === true ? String($('Loop outbound items').item.json.caption || '') : undefined\n  }\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "10ce9b8c-c6a3-4853-942e-00b55d2042d9",
      "name": "Send WhatsApp media direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        -120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a630cbda-179b-47e2-b4e2-abeac06492c3",
              "leftValue": "={{ Boolean($json.whatsapp_media_id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "id": "ae48fe8a-295c-4d0e-8606-eb9e86cfd369",
      "name": "Has pre-uploaded media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        -20
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "2973d830-5a95-4474-b230-c7833543a88d",
              "name": "send_result",
              "value": "wa_media_direct",
              "type": "string"
            },
            {
              "id": "1bdfb754-48d6-4069-ac48-835dcf25d84a",
              "name": "send_ok",
              "value": "={{ $json.messages ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "all"
      },
      "id": "1f806487-cf5b-4065-8679-5d2f476a20fa",
      "name": "Record WA media result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        -120
      ]
    }
  ],
  "connections": {
    "When outbound sender is called": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Async media webhook": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Expand outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand outbound items": {
      "main": [
        [
          {
            "node": "Pre-upload media to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop outbound items": {
      "main": [
        [
          {
            "node": "Summarize outbound results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is media outbound item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is media outbound item?": {
      "main": [
        [
          {
            "node": "Has pre-uploaded media?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is text outbound item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media asset": {
      "main": [
        [
          {
            "node": "Media download ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media download ok?": {
      "main": [
        [
          {
            "node": "Upload media to Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send media fallback text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media to Chatwoot": {
      "main": [
        [
          {
            "node": "Media upload ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media upload ok?": {
      "main": [
        [
          {
            "node": "Record media success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send media fallback text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record media success": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send media fallback text": {
      "main": [
        [
          {
            "node": "Record media fallback result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record media fallback result": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is text outbound item?": {
      "main": [
        [
          {
            "node": "Send Chatwoot text direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chatwoot text direct": {
      "main": [
        [
          {
            "node": "Record text result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record text result": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause outbound item": {
      "main": [
        [
          {
            "node": "Loop outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize outbound results": {
      "main": [
        [
          {
            "node": "Outbound send result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outbound send result": {
      "main": [
        []
      ]
    },
    "Pre-upload media to WhatsApp": {
      "main": [
        [
          {
            "node": "Loop outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has pre-uploaded media?": {
      "main": [
        [
          {
            "node": "Send WhatsApp media direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp media direct": {
      "main": [
        [
          {
            "node": "Record WA media result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record WA media result": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e1a1317d-d1b1-4c75-9326-c5971edccf0e",
  "activeVersionId": "e1a1317d-d1b1-4c75-9326-c5971edccf0e",
  "versionCounter": 119,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-10T04:54:50.601Z",
      "createdAt": "2026-03-10T04:54:50.601Z",
      "role": "workflow:owner",
      "workflowId": "pLyrdDO3mneaCp7m",
      "projectId": "1fHxc7a4mm0cslGu",
      "project": {
        "updatedAt": "2025-06-15T06:32:54.281Z",
        "createdAt": "2025-06-15T06:16:26.028Z",
        "id": "1fHxc7a4mm0cslGu",
        "name": "JUANDAVID VIZCAYA <jd@vizcaya.co>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "63eb5646-3a36-4b34-9981-c398d6f72574"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-18T21:39:03.498Z",
    "createdAt": "2026-03-18T21:39:03.498Z",
    "versionId": "e1a1317d-d1b1-4c75-9326-c5971edccf0e",
    "workflowId": "pLyrdDO3mneaCp7m",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "db299595-9290-4942-a758-faa1105280d8",
        "name": "When outbound sender is called",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          160,
          160
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chatwoot/outbound-sender/async",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "a1b2c3d4-async-webhook-trigger",
        "name": "Async media webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          160,
          420
        ],
        "webhookId": "async-outbound-sender"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json || {};\nconst input = raw.body || raw;\nconst compact = (value) => String(value ?? '').trim();\n\nfunction normalizeSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nconst normalizedSequence = normalizeSequence(input.outbound_sequence_json || input.outbound_sequence);\n\nreturn [\n  {\n    json: {\n      chatwoot_id: compact(input.chatwoot_id || '') || null,\n      private: input.private === true,\n      chatwoot_account_id: compact(input.chatwoot_account_id || '1') || '1',\n      chatwoot_api_token: compact(input.chatwoot_api_token || '7paF3kLsjSEPvXqgHPEgPTEq') || '7paF3kLsjSEPvXqgHPEgPTEq',\n      outbound_sequence: normalizedSequence,\n      outbound_sequence_json: JSON.stringify(normalizedSequence),\n      outbound_message: compact(input.outbound_message || input.message || input.final_whatsapp_text || ''),\n      final_whatsapp_text: compact(input.final_whatsapp_text || input.outbound_message || input.message || ''),\n    },\n  },\n];"
        },
        "id": "1938bad8-5d51-4061-896b-a9aec6889c74",
        "name": "Normalize input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          280
        ]
      },
      {
        "parameters": {
          "jsCode": "const prevData = $input.first().json || {};\nconst compact = (value) => String(value ?? '').trim();\nconst helperRequest =\n  typeof $httpRequest === 'function'\n    ? $httpRequest\n    : typeof this !== 'undefined' && this?.helpers?.httpRequest\n      ? this.helpers.httpRequest.bind(this.helpers)\n      : null;\n\nfunction parseSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nfunction uniqueStrings(values = []) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const key = compact(value);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    out.push(key);\n  }\n  return out;\n}\n\nfunction extractDriveFolderId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/drive\\/folders\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction extractDriveFileId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction isDriveFolderUrl(url) {\n  return /drive\\.google\\.com\\/drive\\/folders\\//i.test(compact(url));\n}\n\nfunction isDriveFileUrl(url) {\n  const source = compact(url);\n  return /drive\\.google\\.com\\/file\\/d\\//i.test(source) || (/drive\\.google\\.com/i.test(source) && /[?&]id=/.test(source));\n}\n\nfunction directDriveDownloadUrl(fileId) {\n  return 'https://drive.google.com/uc?export=download&id=' + String(fileId);\n}\n\nasync function fetchText(url) {\n  if (helperRequest) {\n    let response;\n    try {\n      response = await helperRequest({\n        url,\n        method: 'GET',\n        headers: {\n          Accept: 'text/html,application/xhtml+xml',\n          'User-Agent': 'Mozilla/5.0',\n        },\n        json: false,\n        timeout: 30000,\n        ignoreHttpStatusErrors: true,\n        returnFullResponse: true,\n      });\n    } catch (error) {\n      const fallbackResponse = error?.response || error?.context?.response || null;\n      if (!fallbackResponse) throw error;\n      response = fallbackResponse;\n    }\n\n    const statusCode = Number(response.statusCode || response.status || 0);\n    const body = response.body ?? response.data ?? '';\n    const text =\n      typeof body === 'string'\n        ? body\n        : Buffer.isBuffer(body)\n          ? body.toString('utf8')\n          : body instanceof Uint8Array\n            ? Buffer.from(body).toString('utf8')\n            : body instanceof ArrayBuffer\n              ? Buffer.from(new Uint8Array(body)).toString('utf8')\n              : JSON.stringify(body);\n\n    if (statusCode < 200 || statusCode >= 300) {\n      throw new Error('drive_folder_listing_http_' + statusCode);\n    }\n\n    return text;\n  }\n\n  if (typeof fetch === 'function') {\n    const response = await fetch(url, {\n      headers: {\n        Accept: 'text/html,application/xhtml+xml',\n        'User-Agent': 'Mozilla/5.0',\n      },\n      redirect: 'follow',\n    });\n\n    if (!response.ok) {\n      throw new Error('drive_folder_listing_http_' + response.status);\n    }\n\n    return response.text();\n  }\n\n  throw new Error('drive_folder_listing_unavailable');\n}\n\nasync function resolveFolderAssets(folderUrl) {\n  const folderId = extractDriveFolderId(folderUrl);\n  if (!folderId) {\n    throw new Error('drive_folder_id_not_found');\n  }\n\n  const embedUrl = 'https://drive.google.com/embeddedfolderview?id=' + folderId + '#list';\n  const html = await fetchText(embedUrl);\n  const matches = Array.from(html.matchAll(/https:\\/\\/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)\\/view/gi));\n\n  return uniqueStrings(matches.map((match) => directDriveDownloadUrl(match[1]))).map((downloadUrl) => ({\n    source_url: folderUrl,\n    download_url: downloadUrl,\n  }));\n}\n\nasync function resolveSequenceAssets(item) {\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  const assets = [];\n\n  for (const url of rawUrls) {\n    if (isDriveFolderUrl(url)) {\n      const resolved = await resolveFolderAssets(url);\n      assets.push(...resolved);\n      continue;\n    }\n\n    if (isDriveFileUrl(url)) {\n      const fileId = extractDriveFileId(url);\n      if (fileId) {\n        assets.push({\n          source_url: url,\n          download_url: directDriveDownloadUrl(fileId),\n        });\n        continue;\n      }\n    }\n\n    assets.push({\n      source_url: url,\n      download_url: url,\n    });\n  }\n\n  return uniqueStrings(assets.map((asset) => asset.download_url)).map((downloadUrl) => ({\n    download_url: downloadUrl,\n    source_url: assets.find((asset) => asset.download_url === downloadUrl)?.source_url || downloadUrl,\n  }));\n}\n\nfunction createTextItem(content, extra = {}) {\n  const message = compact(content);\n  if (!message) return null;\n\n  return {\n    json: {\n      ...prevData,\n      outbound_item_type: 'text',\n      content: message,\n      private: extra.private === true,\n      property_title: extra.property_title || null,\n      source_url: extra.source_url || null,\n      download_url: extra.download_url || null,\n      send_order: extra.send_order || 0,\n      media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n    },\n  };\n}\n\nconst rawSequence = parseSequence(prevData.outbound_sequence_json || prevData.outbound_sequence);\nconst fallbackMessage = compact(prevData.outbound_message || prevData.final_whatsapp_text);\nconst queue = rawSequence.length\n  ? rawSequence\n  : fallbackMessage\n    ? [{ type: 'text', content: fallbackMessage, private: prevData.private === true }]\n    : [];\n\nconst outboundItems = [];\nlet sendOrder = 1;\n\nfor (const rawItem of queue) {\n  const item = rawItem && typeof rawItem === 'object' ? rawItem : null;\n  if (!item) continue;\n\n  const itemType = compact(item.type || '');\n  const isMediaItem = itemType === 'media_group' || (compact(item.media_url) && itemType !== 'text');\n\n  if (!isMediaItem) {\n    const textItem = createTextItem(item.content, {\n      private: item.private === true || prevData.private === true,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  let assets = [];\n  try {\n    assets = await resolveSequenceAssets(item);\n  } catch {\n    assets = [];\n  }\n\n  if (!assets.length) {\n    const fallbackText = [compact(item.content), ...rawUrls].filter(Boolean).join('\\n');\n    const textItem = createTextItem(fallbackText, {\n      private: item.private === true || prevData.private === true,\n      property_title: item.property_title || null,\n      source_url: rawUrls[0] || null,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  for (let index = 0; index < assets.length; index += 1) {\n    const asset = assets[index];\n    const caption = index === 0 ? compact(item.content) : '';\n\n    outboundItems.push({\n      json: {\n        ...prevData,\n        outbound_item_type: 'media_asset',\n        property_title: item.property_title || null,\n        private: item.private === true || prevData.private === true,\n        caption,\n        send_caption: Boolean(caption),\n        asset_index: index,\n        source_url: asset.source_url || rawUrls[0] || null,\n        download_url: asset.download_url,\n        send_order: sendOrder,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    });\n    sendOrder += 1;\n  }\n}\n\nif (!outboundItems.length) {\n  return [\n    {\n      json: {\n        ...prevData,\n        outbound_item_type: 'noop',\n        send_order: 0,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    },\n  ];\n}\n\nreturn outboundItems;"
        },
        "id": "1fcbe87e-f850-4af0-8e4b-d64897dc3692",
        "name": "Expand outbound items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          280
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "9808dde9-8173-453d-9c23-1a0d979e49a3",
        "name": "Loop outbound items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          980,
          280
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "85768778-14f5-4c37-8263-7ea661b9f3e4",
                "leftValue": "={{ $json.outbound_item_type === 'media_asset' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "073a2731-26b0-473d-ab3e-bb03f4630143",
        "name": "Is media outbound item?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1220,
          280
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 30000
          }
        },
        "id": "691f3033-00af-4b07-a700-1855e2ac36cc",
        "name": "Download media asset",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1460,
          80
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "7e3b3b90-bdd0-467a-a3dc-099c3f147aec",
                "leftValue": "={{ Boolean($binary?.data) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "e2a1a115-1493-4378-bcfc-e31d285b8270",
        "name": "Media download ok?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1700,
          80
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formData",
                "name": "content",
                "value": "={{ $('Loop outbound items').item.json.send_caption === true ? String($('Loop outbound items').item.json.caption || '') : '' }}"
              },
              {
                "parameterType": "formData",
                "name": "message_type",
                "value": "outgoing"
              },
              {
                "parameterType": "formData",
                "name": "private",
                "value": "={{ $('Loop outbound items').item.json.private === true ? 'true' : 'false' }}"
              },
              {
                "parameterType": "formBinaryData",
                "name": "attachments[]",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "timeout": 45000
          }
        },
        "id": "d4324bee-1e37-433e-bae1-56c030c3d3d1",
        "name": "Upload media to Chatwoot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          80
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "465bb368-5dfb-456d-b10f-713db940aee9",
                "leftValue": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "d06624f4-41be-4713-b0d7-952e744e502f",
        "name": "Media upload ok?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2180,
          80
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a9ed0647-5078-4bc7-8213-d6ea1e1ecf42",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "d5b0b331-828e-4d91-abb4-84edb9ed496d",
                "name": "result_ok",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "03a0a9db-50b2-41ff-a695-cdf706225c66",
                "name": "result_type",
                "value": "media",
                "type": "string"
              },
              {
                "id": "4fb3b76b-152c-4ddf-bf23-74bc3a649fe6",
                "name": "result_filename",
                "value": "={{ $binary?.data?.fileName || '' }}",
                "type": "string"
              },
              {
                "id": "02001e48-30af-417a-b1f9-a4861ddf9e31",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "4dec5ced-e29f-40ba-9b46-4f073cc81933",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
                "type": "string"
              },
              {
                "id": "50d6a818-6f92-4794-b3e1-a8f98de8037e",
                "name": "result_error",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "824da43e-3a76-4753-974c-80e5a1ede7fc",
        "name": "Record media success",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2420,
          -20
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: 'No pude adjuntar uno de los assets de ' + String($('Loop outbound items').item.json.property_title || 'la finca') + ' en este momento. Te comparto el enlace:\\n' + String($('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || ''), message_type: 'outgoing', private: $('Loop outbound items').item.json.private === true }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "7eff56e9-743c-47e4-b29c-f2c098144f6a",
        "name": "Send media fallback text",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          280
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "29fa8f25-37b3-4db6-ae39-4fd5f2119e10",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "665a2d92-6f8d-4dfa-a593-b04289b72a98",
                "name": "result_ok",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "6c5c1f4e-1880-40b5-b635-63f70f239b92",
                "name": "result_type",
                "value": "media_fallback",
                "type": "string"
              },
              {
                "id": "c564691a-3c0e-4d51-9d34-4742970a41a6",
                "name": "result_filename",
                "value": "",
                "type": "string"
              },
              {
                "id": "eb8810aa-bfeb-461b-9e92-42513ab39b4a",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "de20a93a-661a-468c-a1cb-ef30ff87269a",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
                "type": "string"
              },
              {
                "id": "b826e4c1-d2c9-4b8b-87d2-06165d8a73bc",
                "name": "result_error",
                "value": "media_delivery_failed",
                "type": "string"
              },
              {
                "id": "97d33532-d0a3-4b4e-af22-f2c4e6404747",
                "name": "result_fallback_sent",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "id": "6074ceda-b752-4da4-b337-6f48bfe2d4af",
        "name": "Record media fallback result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2180,
          280
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "b4834a5f-6c80-4505-9275-21ecb1601b35",
                "leftValue": "={{ $json.outbound_item_type === 'text' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "96ddcff0-3f0b-400a-9b97-68b6b533ab10",
        "name": "Is text outbound item?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1460,
          480
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chatwoot-9qe1j-u48275.vm.elestio.app\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($json.chatwoot_account_id || \"1\") + '/conversations/' + String($json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $json.chatwoot_api_token || \"7paF3kLsjSEPvXqgHPEgPTEq\" }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: String($json.content || '').trim(), message_type: 'outgoing', private: $json.private === true }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "1535269d-f10e-419b-903b-a98d615580e1",
        "name": "Send Chatwoot text direct",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          480
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9078eda9-1a6c-4da1-96b2-3ffc719449fa",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "7dc1cf21-a1e7-42a3-8c4b-256c2920d482",
                "name": "result_ok",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "type": "boolean"
              },
              {
                "id": "5cfc9975-f852-40e6-a11c-5c8908203995",
                "name": "result_type",
                "value": "text",
                "type": "string"
              },
              {
                "id": "062e8ed1-d43a-470f-a63e-378e95f24933",
                "name": "result_filename",
                "value": "",
                "type": "string"
              },
              {
                "id": "ba86d86d-4dd2-40f5-96fd-7507f39bd400",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "e8e9d5cc-efdc-495b-8c98-0c0a00f287b9",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || '' }}",
                "type": "string"
              },
              {
                "id": "e3449aed-2162-4d0a-bc59-0f9248244793",
                "name": "result_error",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) ? '' : 'text_delivery_failed' }}",
                "type": "string"
              },
              {
                "id": "0df7dcf6-b987-495e-92c8-9a4a6a3fa269",
                "name": "result_content",
                "value": "={{ $('Loop outbound items').item.json.content || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "352bb179-885e-47f9-8ff0-0a3a2b3530d1",
        "name": "Record text result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2180,
          480
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nawait new Promise((resolve) => setTimeout(resolve, 350));\nreturn items;"
        },
        "id": "d2ce1361-d40f-4129-bba4-e8cb3fc761e7",
        "name": "Pause outbound item",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2660,
          280
        ]
      },
      {
        "parameters": {
          "jsCode": "const compact = (value) => String(value ?? '').trim();\nconst items = $input.all();\nconst first = items[0]?.json || {};\n\nconst results = items\n  .map((item) => item.json || {})\n  .filter((json) => compact(json.result_type) && compact(json.result_type) !== 'noop')\n  .map((json) => ({\n    ok: json.result_ok !== false,\n    type: compact(json.result_type),\n    filename: compact(json.result_filename) || null,\n    property_title: compact(json.result_property_title) || null,\n    source_url: compact(json.result_source_url) || null,\n    error: compact(json.result_error) || null,\n    fallback_sent: json.result_fallback_sent === true,\n    content: compact(json.result_content) || null,\n  }));\n\nreturn [\n  {\n    json: {\n      ok: results.every((entry) => entry.ok !== false),\n      chatwoot_id: compact(first.chatwoot_id) || null,\n      sent_count: results.length,\n      results,\n    },\n  },\n];"
        },
        "id": "196e3da5-6df2-469a-860e-d5cafa0e9ee3",
        "name": "Summarize outbound results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1220,
          680
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fcec8753-9404-4517-b17a-1b48f1b51251",
                "name": "ok",
                "value": "={{ $json.ok === true }}",
                "type": "boolean"
              },
              {
                "id": "d213dfe5-3f8d-4bce-b46c-2e05116f2132",
                "name": "chatwoot_id",
                "value": "={{ $input.first().json.chatwoot_id || $json.chatwoot_id }}",
                "type": "string"
              },
              {
                "id": "30435673-a4cf-4463-985d-fc8650095baf",
                "name": "sent_count",
                "value": "={{ Number($json.sent_count || 0) }}",
                "type": "number"
              },
              {
                "id": "369eff67-e6ac-4b57-9e44-95f5953c1e7a",
                "name": "results",
                "value": "={{ $json.results || [] }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "id": "2b1607db-ba6a-4e1e-81be-362cd3b41c17",
        "name": "Outbound send result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1480,
          680
        ]
      }
    ],
    "connections": {
      "When outbound sender is called": {
        "main": [
          [
            {
              "node": "Normalize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Async media webhook": {
        "main": [
          [
            {
              "node": "Normalize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize input": {
        "main": [
          [
            {
              "node": "Expand outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand outbound items": {
        "main": [
          [
            {
              "node": "Loop outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop outbound items": {
        "main": [
          [
            {
              "node": "Summarize outbound results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is media outbound item?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is media outbound item?": {
        "main": [
          [
            {
              "node": "Download media asset",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is text outbound item?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download media asset": {
        "main": [
          [
            {
              "node": "Media download ok?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Media download ok?": {
        "main": [
          [
            {
              "node": "Upload media to Chatwoot",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send media fallback text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload media to Chatwoot": {
        "main": [
          [
            {
              "node": "Media upload ok?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Media upload ok?": {
        "main": [
          [
            {
              "node": "Record media success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send media fallback text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record media success": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send media fallback text": {
        "main": [
          [
            {
              "node": "Record media fallback result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record media fallback result": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is text outbound item?": {
        "main": [
          [
            {
              "node": "Send Chatwoot text direct",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Chatwoot text direct": {
        "main": [
          [
            {
              "node": "Record text result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record text result": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pause outbound item": {
        "main": [
          [
            {
              "node": "Loop outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize outbound results": {
        "main": [
          [
            {
              "node": "Outbound send result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Outbound send result": {
        "main": [
          []
        ]
      }
    },
    "authors": "JUANDAVID VIZCAYA",
    "name": null,
    "description": "Legacy outbound sender retained for text-only or follow-up flows. Media delivery now runs itemized in the main workflow.",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-18T21:39:03.819Z",
        "id": 493,
        "workflowId": "pLyrdDO3mneaCp7m",
        "versionId": "e1a1317d-d1b1-4c75-9326-c5971edccf0e",
        "event": "activated",
        "userId": "63eb5646-3a36-4b34-9981-c398d6f72574"
      }
    ]
  }
}