snapshots/chatwoot_outbound_sender.json
{
  "updatedAt": "2026-06-30T23:42:38.232Z",
  "createdAt": "2026-05-09T03:26:19.190Z",
  "id": "Bg5nl2Y26PuwF2NB",
  "name": "Chatwoot Outbound Sender - De Paseo en Fincas",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "db299595-9290-4942-a758-faa1105280d8",
      "name": "When outbound sender is called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot/outbound-sender/async",
        "options": {}
      },
      "id": "a1b2c3d4-async-webhook-trigger",
      "name": "Async media webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        420
      ],
      "webhookId": "async-outbound-sender"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\nconst input = raw.body || raw;\nconst compact = (value) => String(value ?? '').trim();\n\nfunction normalizeSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nconst normalizedSequence = normalizeSequence(input.outbound_sequence_json || input.outbound_sequence);\n\nreturn [\n  {\n    json: {\n      chatwoot_id: compact(input.chatwoot_id || '') || null,\n      private: input.private === true,\n      chatwoot_account_id: compact(input.chatwoot_account_id || '2') || '1',\n      chatwoot_api_token: compact(input.chatwoot_api_token || 'HHtQoPLW991XS8Rcu5thbZ5x') || 'HHtQoPLW991XS8Rcu5thbZ5x',\n      outbound_sequence: normalizedSequence,\n      outbound_sequence_json: JSON.stringify(normalizedSequence),\n      outbound_message: compact(input.outbound_message || input.message || input.final_whatsapp_text || ''),\n      final_whatsapp_text: compact(input.final_whatsapp_text || input.outbound_message || input.message || ''),\n      test_mode_enabled: input.test_mode_enabled === true,\n    },\n  },\n];"
      },
      "id": "96c3f625-843c-4e0a-a341-af6a27c8ccbb",
      "name": "Normalize input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json || {};\nconst _testMode = prevData.test_mode_enabled === true;\nconst compact = (value) => String(value ?? '').trim();\nconst helperRequest =\n  typeof $httpRequest === 'function'\n    ? $httpRequest\n    : typeof this !== 'undefined' && this?.helpers?.httpRequest\n      ? this.helpers.httpRequest.bind(this.helpers)\n      : null;\n\nfunction parseSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nfunction uniqueStrings(values = []) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const key = compact(value);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    out.push(key);\n  }\n  return out;\n}\n\nfunction extractDriveFolderId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/drive\\/folders\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction extractDriveFileId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction isDriveFolderUrl(url) {\n  return /drive\\.google\\.com\\/drive\\/folders\\//i.test(compact(url));\n}\n\nfunction isDriveFileUrl(url) {\n  const source = compact(url);\n  return /drive\\.google\\.com\\/file\\/d\\//i.test(source) || (/drive\\.google\\.com/i.test(source) && /[?&]id=/.test(source));\n}\n\nfunction directDriveDownloadUrl(fileId) {\n  return 'https://drive.google.com/uc?export=download&id=' + String(fileId);\n}\n\nasync function fetchText(url) {\n  if (helperRequest) {\n    let response;\n    try {\n      response = await helperRequest({\n        url,\n        method: 'GET',\n        headers: {\n          Accept: 'text/html,application/xhtml+xml',\n          'User-Agent': 'Mozilla/5.0',\n        },\n        json: false,\n        timeout: 30000,\n        ignoreHttpStatusErrors: true,\n        returnFullResponse: true,\n      });\n    } catch (error) {\n      const fallbackResponse = error?.response || error?.context?.response || null;\n      if (!fallbackResponse) throw error;\n      response = fallbackResponse;\n    }\n\n    const statusCode = Number(response.statusCode || response.status || 0);\n    const body = response.body ?? response.data ?? '';\n    const text =\n      typeof body === 'string'\n        ? body\n        : Buffer.isBuffer(body)\n          ? body.toString('utf8')\n          : body instanceof Uint8Array\n            ? Buffer.from(body).toString('utf8')\n            : body instanceof ArrayBuffer\n              ? Buffer.from(new Uint8Array(body)).toString('utf8')\n              : JSON.stringify(body);\n\n    if (statusCode < 200 || statusCode >= 300) {\n      throw new Error('drive_folder_listing_http_' + statusCode);\n    }\n\n    return text;\n  }\n\n  if (typeof fetch === 'function') {\n    const response = await fetch(url, {\n      headers: {\n        Accept: 'text/html,application/xhtml+xml',\n        'User-Agent': 'Mozilla/5.0',\n      },\n      redirect: 'follow',\n    });\n\n    if (!response.ok) {\n      throw new Error('drive_folder_listing_http_' + response.status);\n    }\n\n    return response.text();\n  }\n\n  throw new Error('drive_folder_listing_unavailable');\n}\n\nasync function resolveFolderAssets(folderUrl, testMode) {\n  const folderId = extractDriveFolderId(folderUrl);\n  if (!folderId) {\n    throw new Error('drive_folder_id_not_found');\n  }\n\n  const embedUrl = 'https://drive.google.com/embeddedfolderview?id=' + folderId + '#list';\n  const html = await fetchText(embedUrl);\n  const matches = Array.from(html.matchAll(/https:\\/\\/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)\\/view/gi));\n\n  // TEST MODE dinámico — controlado por agent_settings.owner_test_mode_enabled.\n  // ON  → solo primera foto (testing).\n  // OFF → todas las fotos del folder.\n  const _all = uniqueStrings(matches.map((match) => directDriveDownloadUrl(match[1])));\n  const _selected = testMode ? _all.slice(0, 1) : _all;\n  return _selected.map((downloadUrl) => ({\n    source_url: folderUrl,\n    download_url: downloadUrl,\n  }));\n}\n\nasync function resolveSequenceAssets(item, _testMode) {\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  const assets = [];\n\n  for (const url of rawUrls) {\n    if (isDriveFolderUrl(url)) {\n      const resolved = await resolveFolderAssets(url, _testMode);\n      assets.push(...resolved);\n      continue;\n    }\n\n    if (isDriveFileUrl(url)) {\n      const fileId = extractDriveFileId(url);\n      if (fileId) {\n        assets.push({\n          source_url: url,\n          download_url: directDriveDownloadUrl(fileId),\n        });\n        continue;\n      }\n    }\n\n    assets.push({\n      source_url: url,\n      download_url: url,\n    });\n  }\n\n  return uniqueStrings(assets.map((asset) => asset.download_url)).map((downloadUrl) => ({\n    download_url: downloadUrl,\n    source_url: assets.find((asset) => asset.download_url === downloadUrl)?.source_url || downloadUrl,\n  }));\n}\n\nfunction createTextItem(content, extra = {}) {\n  const message = compact(content);\n  if (!message) return null;\n\n  return {\n    json: {\n      ...prevData,\n      outbound_item_type: 'text',\n      content: message,\n      private: extra.private === true,\n      property_title: extra.property_title || null,\n      property_id: extra.property_id || null,\n      source_url: extra.source_url || null,\n      download_url: extra.download_url || null,\n      send_order: extra.send_order || 0,\n      media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n    },\n  };\n}\n\nconst rawSequence = parseSequence(prevData.outbound_sequence_json || prevData.outbound_sequence);\nconst fallbackMessage = compact(prevData.outbound_message || prevData.final_whatsapp_text);\nconst queue = rawSequence.length\n  ? rawSequence\n  : fallbackMessage\n    ? [{ type: 'text', content: fallbackMessage, private: prevData.private === true }]\n    : [];\n\nconst outboundItems = [];\nlet sendOrder = 1;\n\nfor (const rawItem of queue) {\n  const item = rawItem && typeof rawItem === 'object' ? rawItem : null;\n  if (!item) continue;\n\n  const itemType = compact(item.type || '');\n  const isMediaItem = itemType === 'media_group' || (compact(item.media_url) && itemType !== 'text');\n\n  if (!isMediaItem) {\n    const textItem = createTextItem(item.content, {\n      private: item.private === true || prevData.private === true,\n      property_title: item.property_title || null,\n      property_id: item.property_id || null,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  let assets = [];\n  try {\n    assets = await resolveSequenceAssets(item, _testMode);\n  } catch {\n    assets = [];\n  }\n\n  if (!assets.length) {\n    const fallbackText = [compact(item.content), ...rawUrls].filter(Boolean).join('\\n');\n    const textItem = createTextItem(fallbackText, {\n      private: item.private === true || prevData.private === true,\n      property_title: item.property_title || null,\n      source_url: rawUrls[0] || null,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  for (let index = 0; index < assets.length; index += 1) {\n    const asset = assets[index];\n    const caption = index === 0 ? compact(item.content) : '';\n\n    outboundItems.push({\n      json: {\n        ...prevData,\n        outbound_item_type: 'media_asset',\n        property_title: item.property_title || null,\n        property_id: item.property_id || null,\n        media_count: assets.length,\n        is_first_media_in_group: index === 0,\n        group_expand_timestamp: Math.floor(Date.now() / 1000),\n        is_last_media_in_group: index === assets.length - 1,\n        private: item.private === true || prevData.private === true,\n        caption,\n        send_caption: Boolean(caption),\n        asset_index: index,\n        source_url: asset.source_url || rawUrls[0] || null,\n        download_url: asset.download_url,\n        send_order: sendOrder,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    });\n    sendOrder += 1;\n  }\n}\n\nif (!outboundItems.length) {\n  return [\n    {\n      json: {\n        ...prevData,\n        outbound_item_type: 'noop',\n        send_order: 0,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    },\n  ];\n}\n\nreturn outboundItems;"
      },
      "id": "1b73c07a-c8f9-4d26-aa13-df040deffb7d",
      "name": "Expand outbound items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "618351f2-6a8a-4a2a-8051-5bbe5c264f0f",
      "name": "Loop outbound items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "85768778-14f5-4c37-8263-7ea661b9f3e4",
              "leftValue": "={{ $json.outbound_item_type === 'media_asset' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "9b52d399-591e-481d-9f02-1bcee8325550",
      "name": "Is media outbound item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1220,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "78d01bae-10c8-4aeb-9c93-abce1858cd35",
      "name": "Download media asset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        80
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e3b3b90-bdd0-467a-a3dc-099c3f147aec",
              "leftValue": "={{ Boolean($binary?.data) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ce8f1fc7-bba9-42cf-9e11-8a2c6574fbbd",
      "name": "Media download ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1700,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chat.depaseoenfincas.raaamp.co\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"HHtQoPLW991XS8Rcu5thbZ5x\" }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "content",
              "value": "={{ $('Loop outbound items').item.json.send_caption === true ? String($('Loop outbound items').item.json.caption || '') : '' }}"
            },
            {
              "parameterType": "formData",
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formData",
              "name": "private",
              "value": "={{ $('Loop outbound items').item.json.private === true ? 'true' : 'false' }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 45000
        }
      },
      "id": "7ebadecc-cd17-491f-a244-14212fe4aac0",
      "name": "Upload media to Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        80
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "465bb368-5dfb-456d-b10f-713db940aee9",
              "leftValue": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "1c19a3e2-6ddb-45c2-9059-821419cc5994",
      "name": "Media upload ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2180,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c0a603d-b399-47a9-b015-e4b7bd3047ff",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "e67322b0-6087-4c51-8442-cb550078aa91",
              "name": "result_ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "1e6c78b8-0fa7-48d9-9725-a85c3fa3375e",
              "name": "result_type",
              "value": "media",
              "type": "string"
            },
            {
              "id": "7785b1c7-e148-49ab-b859-00f997641084",
              "name": "result_filename",
              "value": "={{ $binary?.data?.fileName || '' }}",
              "type": "string"
            },
            {
              "id": "1eea427e-8df9-4690-8ad7-99bd4f30e338",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "3ec89434-662d-4ab3-9090-fbfa422994c1",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
              "type": "string"
            },
            {
              "id": "3b2a691f-9e38-4dfb-b35f-5f4d5e4d8b24",
              "name": "result_error",
              "value": "",
              "type": "string"
            },
            {
              "id": "9b340e64-f7a8-4ce9-9f36-d9ad35a9fcf1",
              "name": "is_last_media_in_group",
              "value": "={{ $('Loop outbound items').item.json.is_last_media_in_group || false }}",
              "type": "boolean"
            },
            {
              "id": "eba9a55d-7ad2-43f8-8c01-a8adb1386065",
              "name": "media_count",
              "value": "={{ $('Loop outbound items').item.json.media_count || 0 }}",
              "type": "number"
            },
            {
              "id": "b3d2c07b-6f37-4e9f-956c-416b50324d3f",
              "name": "property_id",
              "value": "={{ $('Loop outbound items').item.json.property_id || '' }}",
              "type": "string"
            },
            {
              "id": "510993bc-f41f-4909-9aed-effdf880dae9",
              "name": "group_expand_timestamp",
              "value": "={{ $('Loop outbound items').item.json.group_expand_timestamp || 0 }}",
              "type": "number"
            },
            {
              "id": "04504c35-58ae-45a2-9909-3b8ba32b379d",
              "name": "chatwoot_account_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_account_id || '2' }}",
              "type": "string"
            },
            {
              "id": "9849577f-58d9-4368-965b-c4aea15d9320",
              "name": "chatwoot_api_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || '' }}",
              "type": "string"
            },
            {
              "id": "cm-id-7c9a-4f4f-9a6f-1234567890ab",
              "name": "chatwoot_message_id",
              "value": "={{ Number(($('Upload media to Chatwoot').item.json.id) || ($('Upload media to Chatwoot').item.json.message?.id) || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "5ff25f8c-a0b0-48c4-b0b4-584affae1b7c",
      "name": "Record media success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2420,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chat.depaseoenfincas.raaamp.co\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"HHtQoPLW991XS8Rcu5thbZ5x\" }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: 'No pude adjuntar uno de los assets de ' + String($('Loop outbound items').item.json.property_title || 'la finca') + ' en este momento. Te comparto el enlace:\\n' + String($('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || ''), message_type: 'outgoing', private: $('Loop outbound items').item.json.private === true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "3c9fdcdc-c135-4dff-9dec-106bcb53c402",
      "name": "Send media fallback text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        280
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcf15312-d46a-4828-83a8-34caf3e49f92",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "a40cdb78-2feb-4765-a0e9-648d75a205f7",
              "name": "result_ok",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a4843473-16ba-418f-b424-2a603ab55190",
              "name": "result_type",
              "value": "media_fallback",
              "type": "string"
            },
            {
              "id": "39a61402-737d-4be4-af95-fadc97e1868f",
              "name": "result_filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "a7ab991b-f2c5-4d3b-a4ec-cb4e5b3c6427",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "de2daf59-5f27-49bb-809e-eb76e7262795",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
              "type": "string"
            },
            {
              "id": "fd3aefa6-77e4-4ddc-b0f1-9f84fdd39e58",
              "name": "result_error",
              "value": "media_delivery_failed",
              "type": "string"
            },
            {
              "id": "f006a06c-73b5-4121-8462-92d64b59bca7",
              "name": "result_fallback_sent",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "type": "boolean"
            },
            {
              "id": "24fab8af-7eef-4427-98a4-43045829b63d",
              "name": "is_last_media_in_group",
              "value": "={{ $('Loop outbound items').item.json.is_last_media_in_group || false }}",
              "type": "boolean"
            },
            {
              "id": "01f3dbb0-c344-441f-91c9-9f068b808d85",
              "name": "media_count",
              "value": "={{ $('Loop outbound items').item.json.media_count || 0 }}",
              "type": "number"
            },
            {
              "id": "7df097b9-e3b2-4060-9014-12244752923d",
              "name": "property_id",
              "value": "={{ $('Loop outbound items').item.json.property_id || '' }}",
              "type": "string"
            },
            {
              "id": "0dda23a7-da86-4271-991e-13374f0b0ed9",
              "name": "group_expand_timestamp",
              "value": "={{ $('Loop outbound items').item.json.group_expand_timestamp || 0 }}",
              "type": "number"
            },
            {
              "id": "7b97c932-539a-49c1-b6ea-721d85502c2f",
              "name": "chatwoot_account_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_account_id || '2' }}",
              "type": "string"
            },
            {
              "id": "f4a28fa1-a1c8-4735-b9f0-163078766821",
              "name": "chatwoot_api_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || '' }}",
              "type": "string"
            },
            {
              "id": "cm-id-fb-9a6f-1234567890ab",
              "name": "chatwoot_message_id",
              "value": "={{ Number(($json.id) || ($json.message?.id) || ($json.message_id) || 0) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "49632a7c-bd39-47c0-8321-0903e1a88e49",
      "name": "Record media fallback result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4834a5f-6c80-4505-9275-21ecb1601b35",
              "leftValue": "={{ $json.outbound_item_type === 'text' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c606a7ce-19c3-4724-a2c4-7c27f33b9507",
      "name": "Is text outbound item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1460,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (\"https://chat.depaseoenfincas.raaamp.co\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($json.chatwoot_account_id || \"1\") + '/conversations/' + String($json.chatwoot_id) + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_api_token || \"HHtQoPLW991XS8Rcu5thbZ5x\" }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: String($json.content || '').trim(), message_type: 'outgoing', private: $json.private === true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f4ba65a4-2ee6-4e9a-8fda-915929423eed",
      "name": "Send Chatwoot text direct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        480
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf51ae08-f3e6-4923-94f6-8e6126f1ff7f",
              "name": "chatwoot_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
              "type": "string"
            },
            {
              "id": "a2af67ac-fe22-4523-9db4-28ccd48418f7",
              "name": "result_ok",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
              "type": "boolean"
            },
            {
              "id": "beade8c8-97cb-4fcf-87cb-0458264e2f43",
              "name": "result_type",
              "value": "text",
              "type": "string"
            },
            {
              "id": "d66eaca0-c9a9-463c-9266-dfc9b201ad01",
              "name": "result_filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "3f30a0fb-2528-4d14-94d8-8de08d521688",
              "name": "result_property_title",
              "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
              "type": "string"
            },
            {
              "id": "2c63a762-9440-4ccd-a4d7-e220ff0750ca",
              "name": "result_source_url",
              "value": "={{ $('Loop outbound items').item.json.source_url || '' }}",
              "type": "string"
            },
            {
              "id": "e58aaecd-fa18-4319-abf4-f15a87245a3c",
              "name": "result_error",
              "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) ? '' : 'text_delivery_failed' }}",
              "type": "string"
            },
            {
              "id": "f02e6624-2f75-4275-9710-101658006811",
              "name": "result_content",
              "value": "={{ $('Loop outbound items').item.json.content || '' }}",
              "type": "string"
            },
            {
              "id": "9c4bdca8-253e-4a2a-87ad-cdfab8647b44",
              "name": "is_last_media_in_group",
              "value": "={{ $('Loop outbound items').item.json.is_last_media_in_group || false }}",
              "type": "boolean"
            },
            {
              "id": "5392086d-3d5a-4c03-8f69-bb5cbcbf730a",
              "name": "media_count",
              "value": "={{ $('Loop outbound items').item.json.media_count || 0 }}",
              "type": "number"
            },
            {
              "id": "a3afe1a9-80e7-49e8-967e-bae4c878e039",
              "name": "property_id",
              "value": "={{ $('Loop outbound items').item.json.property_id || '' }}",
              "type": "string"
            },
            {
              "id": "b376f5c5-da1f-4290-9413-9c09dcc77d79",
              "name": "group_expand_timestamp",
              "value": "={{ $('Loop outbound items').item.json.group_expand_timestamp || 0 }}",
              "type": "number"
            },
            {
              "id": "6e845790-07b8-4f62-9823-d87882e8752b",
              "name": "chatwoot_account_id",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_account_id || '2' }}",
              "type": "string"
            },
            {
              "id": "91c760c0-84d1-4d19-a18c-6168ce918dcc",
              "name": "chatwoot_api_token",
              "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b76c604-2894-483a-b5f9-18fd5abc7888",
      "name": "Record text result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const fallback = $input.first()?.json || {};\n\n// Read from the upstream Record nodes — Persist clobbers the input by\n// returning only the inserted row, so we can't trust $input here.\nlet current = {};\ntry { current = $('Record media success').item.json; } catch (e) {}\nif (!current || current.result_type !== 'media') {\n  try { current = $('Record media fallback result').item.json; } catch (e) {}\n}\nif (!current || (current.result_type !== 'media' && current.result_type !== 'media_fallback')) {\n  try { current = $('Record text result').item.json; } catch (e) {}\n}\nif (!current || !Object.keys(current).length) current = fallback;\n\nconst compact = (v) => String(v ?? '').trim();\n\n// --- BETWEEN FINCAS: delivery verification after last media of a property group ---\nif (current.is_last_media_in_group === true) {\n  const chatwootId = compact(current.chatwoot_id);\n  const chatwootAccountId = compact(current.chatwoot_account_id || '2') || '1';\n  const chatwootApiToken = compact(current.chatwoot_api_token);\n  const mediaCount = Number(current.media_count || 0);\n  const lastMsgId = Number(current.chatwoot_message_id || 0);\n  const chatwootBaseUrl = 'https://chat.depaseoenfincas.raaamp.co';\n\n  if (!chatwootId || !chatwootApiToken || mediaCount <= 0 || !lastMsgId) {\n    console.log('[delivery-check] missing fields — fallback 5s wait', { chatwootId: !!chatwootId, hasToken: !!chatwootApiToken, mediaCount, lastMsgId });\n    await new Promise((resolve) => setTimeout(resolve, 5000));\n    return [{ json: current }];\n  }\n\n  // The just-sent group occupies message ids [lastMsgId - mediaCount + 1 .. lastMsgId].\n  // We poll Chatwoot until ALL of those ids report status 'delivered' or 'read'.\n  const groupIds = new Set();\n  for (let k = 0; k < mediaCount; k++) groupIds.add(lastMsgId - k);\n\n  const MAX_RETRIES = 12;\n  const RETRY_INTERVAL_MS = 5000;\n  const messagesUrl = chatwootBaseUrl + '/api/v1/accounts/' + chatwootAccountId + '/conversations/' + chatwootId + '/messages';\n\n  for (let attempt = 1; attempt <= MAX_RETRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        url: messagesUrl, method: 'GET',\n        headers: { api_access_token: chatwootApiToken, Accept: 'application/json' },\n        json: true, timeout: 10000, ignoreHttpStatusErrors: true,\n      });\n      const messages = (resp && resp.payload) || resp || [];\n      const groupMessages = messages.filter((m) => groupIds.has(Number(m.id)));\n      const deliveredCount = groupMessages.filter((m) => m.status === 'delivered' || m.status === 'read').length;\n\n      if (deliveredCount >= mediaCount) {\n        console.log('[delivery-check] all ' + mediaCount + ' delivered for ' + compact(current.property_id) + ' (attempt ' + attempt + ')');\n        return [{ json: current }];\n      }\n      console.log('[delivery-check] ' + deliveredCount + '/' + mediaCount + ' delivered (' + compact(current.property_id) + ') attempt ' + attempt);\n    } catch (err) {\n      console.log('[delivery-check] error attempt ' + attempt + ': ' + (err.message || err));\n    }\n    if (attempt < MAX_RETRIES) await new Promise((resolve) => setTimeout(resolve, RETRY_INTERVAL_MS));\n  }\n  console.log('[delivery-check] timeout for ' + compact(current.property_id) + ', proceeding anyway');\n  return [{ json: current }];\n}\n\n// Default 350ms throttle so WhatsApp doesn't reorder a burst of plain texts.\nawait new Promise((resolve) => setTimeout(resolve, 350));\nreturn [{ json: current }];\n"
      },
      "id": "a8f242d6-bca9-4529-b8d3-ce06aa03199d",
      "name": "Pause outbound item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const compact = (value) => String(value ?? '').trim();\nconst items = $input.all();\nconst first = items[0]?.json || {};\n\nconst results = items\n  .map((item) => item.json || {})\n  .filter((json) => compact(json.result_type) && compact(json.result_type) !== 'noop')\n  .map((json) => ({\n    ok: json.result_ok !== false,\n    type: compact(json.result_type),\n    filename: compact(json.result_filename) || null,\n    property_title: compact(json.result_property_title) || null,\n    source_url: compact(json.result_source_url) || null,\n    error: compact(json.result_error) || null,\n    fallback_sent: json.result_fallback_sent === true,\n    content: compact(json.result_content) || null,\n  }));\n\nreturn [\n  {\n    json: {\n      ok: results.every((entry) => entry.ok !== false),\n      chatwoot_id: compact(first.chatwoot_id) || null,\n      sent_count: results.length,\n      results,\n    },\n  },\n];"
      },
      "id": "91c0654e-72a7-4c9c-adfb-cf4282566f94",
      "name": "Summarize outbound results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcec8753-9404-4517-b17a-1b48f1b51251",
              "name": "ok",
              "value": "={{ $json.ok === true }}",
              "type": "boolean"
            },
            {
              "id": "d213dfe5-3f8d-4bce-b46c-2e05116f2132",
              "name": "chatwoot_id",
              "value": "={{ $input.first().json.chatwoot_id || $json.chatwoot_id }}",
              "type": "string"
            },
            {
              "id": "30435673-a4cf-4463-985d-fc8650095baf",
              "name": "sent_count",
              "value": "={{ Number($json.sent_count || 0) }}",
              "type": "number"
            },
            {
              "id": "369eff67-e6ac-4b57-9e44-95f5953c1e7a",
              "name": "results",
              "value": "={{ $json.results || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "2b1607db-ba6a-4e1e-81be-362cd3b41c17",
      "name": "Outbound send result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        680
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO outbound_property_messages (\n  chatwoot_message_id, chatwoot_conversation_id, finca_id, property_title, attachment_id, message_kind\n)\nSELECT\n  $1::bigint,\n  $2::bigint,\n  $3::text,\n  NULLIF($4::text, ''),\n  CASE WHEN NULLIF($5::text, '') IS NULL THEN NULL ELSE $5::text::bigint END,\n  $6::text\nWHERE $1::bigint IS NOT NULL\n  AND $1::bigint > 0\n  AND $3::text IS NOT NULL\n  AND length($3::text) > 0\nON CONFLICT (chatwoot_message_id) DO NOTHING\nRETURNING chatwoot_message_id, finca_id",
        "options": {
          "queryReplacement": "={{ Number($('Upload media to Chatwoot').item.json.id || ($('Upload media to Chatwoot').item.json.message && $('Upload media to Chatwoot').item.json.message.id) || 0) }},={{ Number($('Loop outbound items').item.json.chatwoot_id || 0) }},={{ String($('Loop outbound items').item.json.property_id || '') }},={{ String($('Loop outbound items').item.json.property_title || '') }},={{ ($('Upload media to Chatwoot').item.json.attachments && $('Upload media to Chatwoot').item.json.attachments[0] && $('Upload media to Chatwoot').item.json.attachments[0].id) ? String($('Upload media to Chatwoot').item.json.attachments[0].id) : '' }},={{ 'media' }}"
        }
      },
      "id": "769ed152-fb9d-4f71-bd41-a79a6c9614dd",
      "name": "Persist property msg (media)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        800,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "OY6FEujGvFF1rDbg",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO outbound_property_messages (\n  chatwoot_message_id, chatwoot_conversation_id, finca_id, property_title, attachment_id, message_kind\n)\nSELECT\n  $1::bigint,\n  $2::bigint,\n  $3::text,\n  NULLIF($4::text, ''),\n  CASE WHEN NULLIF($5::text, '') IS NULL THEN NULL ELSE $5::text::bigint END,\n  $6::text\nWHERE $1::bigint IS NOT NULL\n  AND $1::bigint > 0\n  AND $3::text IS NOT NULL\n  AND length($3::text) > 0\nON CONFLICT (chatwoot_message_id) DO NOTHING\nRETURNING chatwoot_message_id, finca_id",
        "options": {
          "queryReplacement": "={{ Number($('Send Chatwoot text direct').item.json.id || ($('Send Chatwoot text direct').item.json.message && $('Send Chatwoot text direct').item.json.message.id) || 0) }},={{ Number($('Loop outbound items').item.json.chatwoot_id || 0) }},={{ String($('Loop outbound items').item.json.property_id || '') }},={{ String($('Loop outbound items').item.json.property_title || '') }},={{ '' }},={{ 'card' }}"
        }
      },
      "id": "3793ebf4-603c-44bd-adfe-0f409fc3d20a",
      "name": "Persist property msg (text)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        800,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "OY6FEujGvFF1rDbg",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "When outbound sender is called": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Async media webhook": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Expand outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand outbound items": {
      "main": [
        [
          {
            "node": "Loop outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop outbound items": {
      "main": [
        [
          {
            "node": "Summarize outbound results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is media outbound item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is media outbound item?": {
      "main": [
        [
          {
            "node": "Download media asset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is text outbound item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media asset": {
      "main": [
        [
          {
            "node": "Media download ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media download ok?": {
      "main": [
        [
          {
            "node": "Upload media to Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send media fallback text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media to Chatwoot": {
      "main": [
        [
          {
            "node": "Media upload ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media upload ok?": {
      "main": [
        [
          {
            "node": "Record media success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send media fallback text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record media success": {
      "main": [
        [
          {
            "node": "Persist property msg (media)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send media fallback text": {
      "main": [
        [
          {
            "node": "Record media fallback result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record media fallback result": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is text outbound item?": {
      "main": [
        [
          {
            "node": "Send Chatwoot text direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chatwoot text direct": {
      "main": [
        [
          {
            "node": "Record text result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record text result": {
      "main": [
        [
          {
            "node": "Persist property msg (text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause outbound item": {
      "main": [
        [
          {
            "node": "Loop outbound items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize outbound results": {
      "main": [
        [
          {
            "node": "Outbound send result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outbound send result": {
      "main": [
        []
      ]
    },
    "Persist property msg (media)": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist property msg (text)": {
      "main": [
        [
          {
            "node": "Pause outbound item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "errorWorkflow": "Lt8n12vKuqnvd1LH"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a0229e6f-c407-4796-8a3c-ed6aa37f3dd5",
  "activeVersionId": "a0229e6f-c407-4796-8a3c-ed6aa37f3dd5",
  "versionCounter": 35,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-09T03:26:19.190Z",
      "createdAt": "2026-05-09T03:26:19.190Z",
      "role": "workflow:owner",
      "workflowId": "Bg5nl2Y26PuwF2NB",
      "projectId": "72GVorD8Nd4GZR0Z",
      "project": {
        "updatedAt": "2026-05-09T02:57:51.320Z",
        "createdAt": "2026-05-09T01:59:53.638Z",
        "id": "72GVorD8Nd4GZR0Z",
        "name": "JUANDAVID VIZCAYA <depaseoenfincas06@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "257b3b29-80bb-4c81-9a8b-3afe1e45aa51"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-30T23:42:38.234Z",
    "createdAt": "2026-06-30T23:42:38.234Z",
    "versionId": "a0229e6f-c407-4796-8a3c-ed6aa37f3dd5",
    "workflowId": "Bg5nl2Y26PuwF2NB",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "db299595-9290-4942-a758-faa1105280d8",
        "name": "When outbound sender is called",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          160,
          160
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chatwoot/outbound-sender/async",
          "options": {}
        },
        "id": "a1b2c3d4-async-webhook-trigger",
        "name": "Async media webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          160,
          420
        ],
        "webhookId": "async-outbound-sender"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json || {};\nconst input = raw.body || raw;\nconst compact = (value) => String(value ?? '').trim();\n\nfunction normalizeSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nconst normalizedSequence = normalizeSequence(input.outbound_sequence_json || input.outbound_sequence);\n\nreturn [\n  {\n    json: {\n      chatwoot_id: compact(input.chatwoot_id || '') || null,\n      private: input.private === true,\n      chatwoot_account_id: compact(input.chatwoot_account_id || '2') || '1',\n      chatwoot_api_token: compact(input.chatwoot_api_token || 'HHtQoPLW991XS8Rcu5thbZ5x') || 'HHtQoPLW991XS8Rcu5thbZ5x',\n      outbound_sequence: normalizedSequence,\n      outbound_sequence_json: JSON.stringify(normalizedSequence),\n      outbound_message: compact(input.outbound_message || input.message || input.final_whatsapp_text || ''),\n      final_whatsapp_text: compact(input.final_whatsapp_text || input.outbound_message || input.message || ''),\n      test_mode_enabled: input.test_mode_enabled === true,\n    },\n  },\n];"
        },
        "id": "96c3f625-843c-4e0a-a341-af6a27c8ccbb",
        "name": "Normalize input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          280
        ]
      },
      {
        "parameters": {
          "jsCode": "const prevData = $input.first().json || {};\nconst _testMode = prevData.test_mode_enabled === true;\nconst compact = (value) => String(value ?? '').trim();\nconst helperRequest =\n  typeof $httpRequest === 'function'\n    ? $httpRequest\n    : typeof this !== 'undefined' && this?.helpers?.httpRequest\n      ? this.helpers.httpRequest.bind(this.helpers)\n      : null;\n\nfunction parseSequence(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n}\n\nfunction uniqueStrings(values = []) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const key = compact(value);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    out.push(key);\n  }\n  return out;\n}\n\nfunction extractDriveFolderId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/drive\\/folders\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction extractDriveFileId(url) {\n  const source = compact(url);\n  const match =\n    source.match(/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)/i) ||\n    source.match(/[?&]id=([a-zA-Z0-9_-]+)/i);\n  return match ? match[1] : null;\n}\n\nfunction isDriveFolderUrl(url) {\n  return /drive\\.google\\.com\\/drive\\/folders\\//i.test(compact(url));\n}\n\nfunction isDriveFileUrl(url) {\n  const source = compact(url);\n  return /drive\\.google\\.com\\/file\\/d\\//i.test(source) || (/drive\\.google\\.com/i.test(source) && /[?&]id=/.test(source));\n}\n\nfunction directDriveDownloadUrl(fileId) {\n  return 'https://drive.google.com/uc?export=download&id=' + String(fileId);\n}\n\nasync function fetchText(url) {\n  if (helperRequest) {\n    let response;\n    try {\n      response = await helperRequest({\n        url,\n        method: 'GET',\n        headers: {\n          Accept: 'text/html,application/xhtml+xml',\n          'User-Agent': 'Mozilla/5.0',\n        },\n        json: false,\n        timeout: 30000,\n        ignoreHttpStatusErrors: true,\n        returnFullResponse: true,\n      });\n    } catch (error) {\n      const fallbackResponse = error?.response || error?.context?.response || null;\n      if (!fallbackResponse) throw error;\n      response = fallbackResponse;\n    }\n\n    const statusCode = Number(response.statusCode || response.status || 0);\n    const body = response.body ?? response.data ?? '';\n    const text =\n      typeof body === 'string'\n        ? body\n        : Buffer.isBuffer(body)\n          ? body.toString('utf8')\n          : body instanceof Uint8Array\n            ? Buffer.from(body).toString('utf8')\n            : body instanceof ArrayBuffer\n              ? Buffer.from(new Uint8Array(body)).toString('utf8')\n              : JSON.stringify(body);\n\n    if (statusCode < 200 || statusCode >= 300) {\n      throw new Error('drive_folder_listing_http_' + statusCode);\n    }\n\n    return text;\n  }\n\n  if (typeof fetch === 'function') {\n    const response = await fetch(url, {\n      headers: {\n        Accept: 'text/html,application/xhtml+xml',\n        'User-Agent': 'Mozilla/5.0',\n      },\n      redirect: 'follow',\n    });\n\n    if (!response.ok) {\n      throw new Error('drive_folder_listing_http_' + response.status);\n    }\n\n    return response.text();\n  }\n\n  throw new Error('drive_folder_listing_unavailable');\n}\n\nasync function resolveFolderAssets(folderUrl, testMode) {\n  const folderId = extractDriveFolderId(folderUrl);\n  if (!folderId) {\n    throw new Error('drive_folder_id_not_found');\n  }\n\n  const embedUrl = 'https://drive.google.com/embeddedfolderview?id=' + folderId + '#list';\n  const html = await fetchText(embedUrl);\n  const matches = Array.from(html.matchAll(/https:\\/\\/drive\\.google\\.com\\/file\\/d\\/([a-zA-Z0-9_-]+)\\/view/gi));\n\n  // TEST MODE dinámico — controlado por agent_settings.owner_test_mode_enabled.\n  // ON  → solo primera foto (testing).\n  // OFF → todas las fotos del folder.\n  const _all = uniqueStrings(matches.map((match) => directDriveDownloadUrl(match[1])));\n  const _selected = testMode ? _all.slice(0, 1) : _all;\n  return _selected.map((downloadUrl) => ({\n    source_url: folderUrl,\n    download_url: downloadUrl,\n  }));\n}\n\nasync function resolveSequenceAssets(item, _testMode) {\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  const assets = [];\n\n  for (const url of rawUrls) {\n    if (isDriveFolderUrl(url)) {\n      const resolved = await resolveFolderAssets(url, _testMode);\n      assets.push(...resolved);\n      continue;\n    }\n\n    if (isDriveFileUrl(url)) {\n      const fileId = extractDriveFileId(url);\n      if (fileId) {\n        assets.push({\n          source_url: url,\n          download_url: directDriveDownloadUrl(fileId),\n        });\n        continue;\n      }\n    }\n\n    assets.push({\n      source_url: url,\n      download_url: url,\n    });\n  }\n\n  return uniqueStrings(assets.map((asset) => asset.download_url)).map((downloadUrl) => ({\n    download_url: downloadUrl,\n    source_url: assets.find((asset) => asset.download_url === downloadUrl)?.source_url || downloadUrl,\n  }));\n}\n\nfunction createTextItem(content, extra = {}) {\n  const message = compact(content);\n  if (!message) return null;\n\n  return {\n    json: {\n      ...prevData,\n      outbound_item_type: 'text',\n      content: message,\n      private: extra.private === true,\n      property_title: extra.property_title || null,\n      property_id: extra.property_id || null,\n      source_url: extra.source_url || null,\n      download_url: extra.download_url || null,\n      send_order: extra.send_order || 0,\n      media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n    },\n  };\n}\n\nconst rawSequence = parseSequence(prevData.outbound_sequence_json || prevData.outbound_sequence);\nconst fallbackMessage = compact(prevData.outbound_message || prevData.final_whatsapp_text);\nconst queue = rawSequence.length\n  ? rawSequence\n  : fallbackMessage\n    ? [{ type: 'text', content: fallbackMessage, private: prevData.private === true }]\n    : [];\n\nconst outboundItems = [];\nlet sendOrder = 1;\n\nfor (const rawItem of queue) {\n  const item = rawItem && typeof rawItem === 'object' ? rawItem : null;\n  if (!item) continue;\n\n  const itemType = compact(item.type || '');\n  const isMediaItem = itemType === 'media_group' || (compact(item.media_url) && itemType !== 'text');\n\n  if (!isMediaItem) {\n    const textItem = createTextItem(item.content, {\n      private: item.private === true || prevData.private === true,\n      property_title: item.property_title || null,\n      property_id: item.property_id || null,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  const rawUrls = uniqueStrings([\n    ...(Array.isArray(item.media_urls) ? item.media_urls : []),\n    item.media_url,\n  ]);\n\n  let assets = [];\n  try {\n    assets = await resolveSequenceAssets(item, _testMode);\n  } catch {\n    assets = [];\n  }\n\n  if (!assets.length) {\n    const fallbackText = [compact(item.content), ...rawUrls].filter(Boolean).join('\\n');\n    const textItem = createTextItem(fallbackText, {\n      private: item.private === true || prevData.private === true,\n      property_title: item.property_title || null,\n      source_url: rawUrls[0] || null,\n      send_order: sendOrder,\n    });\n    if (textItem) {\n      outboundItems.push(textItem);\n      sendOrder += 1;\n    }\n    continue;\n  }\n\n  for (let index = 0; index < assets.length; index += 1) {\n    const asset = assets[index];\n    const caption = index === 0 ? compact(item.content) : '';\n\n    outboundItems.push({\n      json: {\n        ...prevData,\n        outbound_item_type: 'media_asset',\n        property_title: item.property_title || null,\n        property_id: item.property_id || null,\n        media_count: assets.length,\n        is_first_media_in_group: index === 0,\n        group_expand_timestamp: Math.floor(Date.now() / 1000),\n        is_last_media_in_group: index === assets.length - 1,\n        private: item.private === true || prevData.private === true,\n        caption,\n        send_caption: Boolean(caption),\n        asset_index: index,\n        source_url: asset.source_url || rawUrls[0] || null,\n        download_url: asset.download_url,\n        send_order: sendOrder,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    });\n    sendOrder += 1;\n  }\n}\n\nif (!outboundItems.length) {\n  return [\n    {\n      json: {\n        ...prevData,\n        outbound_item_type: 'noop',\n        send_order: 0,\n        media_relay_base_url: compact(prevData.media_relay_base_url || \"\"),\n      },\n    },\n  ];\n}\n\nreturn outboundItems;"
        },
        "id": "1b73c07a-c8f9-4d26-aa13-df040deffb7d",
        "name": "Expand outbound items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          280
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "618351f2-6a8a-4a2a-8051-5bbe5c264f0f",
        "name": "Loop outbound items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          980,
          280
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "85768778-14f5-4c37-8263-7ea661b9f3e4",
                "leftValue": "={{ $json.outbound_item_type === 'media_asset' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "9b52d399-591e-481d-9f02-1bcee8325550",
        "name": "Is media outbound item?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1220,
          280
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 30000
          }
        },
        "id": "78d01bae-10c8-4aeb-9c93-abce1858cd35",
        "name": "Download media asset",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1460,
          80
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "7e3b3b90-bdd0-467a-a3dc-099c3f147aec",
                "leftValue": "={{ Boolean($binary?.data) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "ce8f1fc7-bba9-42cf-9e11-8a2c6574fbbd",
        "name": "Media download ok?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1700,
          80
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chat.depaseoenfincas.raaamp.co\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"HHtQoPLW991XS8Rcu5thbZ5x\" }}"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formData",
                "name": "content",
                "value": "={{ $('Loop outbound items').item.json.send_caption === true ? String($('Loop outbound items').item.json.caption || '') : '' }}"
              },
              {
                "parameterType": "formData",
                "name": "message_type",
                "value": "outgoing"
              },
              {
                "parameterType": "formData",
                "name": "private",
                "value": "={{ $('Loop outbound items').item.json.private === true ? 'true' : 'false' }}"
              },
              {
                "parameterType": "formBinaryData",
                "name": "attachments[]",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "timeout": 45000
          }
        },
        "id": "7ebadecc-cd17-491f-a244-14212fe4aac0",
        "name": "Upload media to Chatwoot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          80
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "465bb368-5dfb-456d-b10f-713db940aee9",
                "leftValue": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "1c19a3e2-6ddb-45c2-9059-821419cc5994",
        "name": "Media upload ok?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2180,
          80
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c0a603d-b399-47a9-b015-e4b7bd3047ff",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "e67322b0-6087-4c51-8442-cb550078aa91",
                "name": "result_ok",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "1e6c78b8-0fa7-48d9-9725-a85c3fa3375e",
                "name": "result_type",
                "value": "media",
                "type": "string"
              },
              {
                "id": "7785b1c7-e148-49ab-b859-00f997641084",
                "name": "result_filename",
                "value": "={{ $binary?.data?.fileName || '' }}",
                "type": "string"
              },
              {
                "id": "1eea427e-8df9-4690-8ad7-99bd4f30e338",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "3ec89434-662d-4ab3-9090-fbfa422994c1",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
                "type": "string"
              },
              {
                "id": "3b2a691f-9e38-4dfb-b35f-5f4d5e4d8b24",
                "name": "result_error",
                "value": "",
                "type": "string"
              },
              {
                "id": "9b340e64-f7a8-4ce9-9f36-d9ad35a9fcf1",
                "name": "is_last_media_in_group",
                "value": "={{ $('Loop outbound items').item.json.is_last_media_in_group || false }}",
                "type": "boolean"
              },
              {
                "id": "eba9a55d-7ad2-43f8-8c01-a8adb1386065",
                "name": "media_count",
                "value": "={{ $('Loop outbound items').item.json.media_count || 0 }}",
                "type": "number"
              },
              {
                "id": "b3d2c07b-6f37-4e9f-956c-416b50324d3f",
                "name": "property_id",
                "value": "={{ $('Loop outbound items').item.json.property_id || '' }}",
                "type": "string"
              },
              {
                "id": "510993bc-f41f-4909-9aed-effdf880dae9",
                "name": "group_expand_timestamp",
                "value": "={{ $('Loop outbound items').item.json.group_expand_timestamp || 0 }}",
                "type": "number"
              },
              {
                "id": "04504c35-58ae-45a2-9909-3b8ba32b379d",
                "name": "chatwoot_account_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_account_id || '2' }}",
                "type": "string"
              },
              {
                "id": "9849577f-58d9-4368-965b-c4aea15d9320",
                "name": "chatwoot_api_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || '' }}",
                "type": "string"
              },
              {
                "id": "cm-id-7c9a-4f4f-9a6f-1234567890ab",
                "name": "chatwoot_message_id",
                "value": "={{ Number(($('Upload media to Chatwoot').item.json.id) || ($('Upload media to Chatwoot').item.json.message?.id) || 0) }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "5ff25f8c-a0b0-48c4-b0b4-584affae1b7c",
        "name": "Record media success",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2420,
          -20
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chat.depaseoenfincas.raaamp.co\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($('Loop outbound items').item.json.chatwoot_account_id || \"1\") + '/conversations/' + String($('Loop outbound items').item.json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || \"HHtQoPLW991XS8Rcu5thbZ5x\" }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: 'No pude adjuntar uno de los assets de ' + String($('Loop outbound items').item.json.property_title || 'la finca') + ' en este momento. Te comparto el enlace:\\n' + String($('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || ''), message_type: 'outgoing', private: $('Loop outbound items').item.json.private === true }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "3c9fdcdc-c135-4dff-9dec-106bcb53c402",
        "name": "Send media fallback text",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          280
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bcf15312-d46a-4828-83a8-34caf3e49f92",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "a40cdb78-2feb-4765-a0e9-648d75a205f7",
                "name": "result_ok",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "a4843473-16ba-418f-b424-2a603ab55190",
                "name": "result_type",
                "value": "media_fallback",
                "type": "string"
              },
              {
                "id": "39a61402-737d-4be4-af95-fadc97e1868f",
                "name": "result_filename",
                "value": "",
                "type": "string"
              },
              {
                "id": "a7ab991b-f2c5-4d3b-a4ec-cb4e5b3c6427",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "de2daf59-5f27-49bb-809e-eb76e7262795",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || $('Loop outbound items').item.json.download_url || '' }}",
                "type": "string"
              },
              {
                "id": "fd3aefa6-77e4-4ddc-b0f1-9f84fdd39e58",
                "name": "result_error",
                "value": "media_delivery_failed",
                "type": "string"
              },
              {
                "id": "f006a06c-73b5-4121-8462-92d64b59bca7",
                "name": "result_fallback_sent",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "type": "boolean"
              },
              {
                "id": "24fab8af-7eef-4427-98a4-43045829b63d",
                "name": "is_last_media_in_group",
                "value": "={{ $('Loop outbound items').item.json.is_last_media_in_group || false }}",
                "type": "boolean"
              },
              {
                "id": "01f3dbb0-c344-441f-91c9-9f068b808d85",
                "name": "media_count",
                "value": "={{ $('Loop outbound items').item.json.media_count || 0 }}",
                "type": "number"
              },
              {
                "id": "7df097b9-e3b2-4060-9014-12244752923d",
                "name": "property_id",
                "value": "={{ $('Loop outbound items').item.json.property_id || '' }}",
                "type": "string"
              },
              {
                "id": "0dda23a7-da86-4271-991e-13374f0b0ed9",
                "name": "group_expand_timestamp",
                "value": "={{ $('Loop outbound items').item.json.group_expand_timestamp || 0 }}",
                "type": "number"
              },
              {
                "id": "7b97c932-539a-49c1-b6ea-721d85502c2f",
                "name": "chatwoot_account_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_account_id || '2' }}",
                "type": "string"
              },
              {
                "id": "f4a28fa1-a1c8-4735-b9f0-163078766821",
                "name": "chatwoot_api_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || '' }}",
                "type": "string"
              },
              {
                "id": "cm-id-fb-9a6f-1234567890ab",
                "name": "chatwoot_message_id",
                "value": "={{ Number(($json.id) || ($json.message?.id) || ($json.message_id) || 0) }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "49632a7c-bd39-47c0-8321-0903e1a88e49",
        "name": "Record media fallback result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2180,
          280
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "b4834a5f-6c80-4505-9275-21ecb1601b35",
                "leftValue": "={{ $json.outbound_item_type === 'text' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "c606a7ce-19c3-4724-a2c4-7c27f33b9507",
        "name": "Is text outbound item?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1460,
          480
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ (\"https://chat.depaseoenfincas.raaamp.co\").replace(/\\/$/, '') + '/api/v1/accounts/' + String($json.chatwoot_account_id || \"1\") + '/conversations/' + String($json.chatwoot_id) + '/messages' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $json.chatwoot_api_token || \"HHtQoPLW991XS8Rcu5thbZ5x\" }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: String($json.content || '').trim(), message_type: 'outgoing', private: $json.private === true }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "f4ba65a4-2ee6-4e9a-8fda-915929423eed",
        "name": "Send Chatwoot text direct",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1940,
          480
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 1500
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bf51ae08-f3e6-4923-94f6-8e6126f1ff7f",
                "name": "chatwoot_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_id || '' }}",
                "type": "string"
              },
              {
                "id": "a2af67ac-fe22-4523-9db4-28ccd48418f7",
                "name": "result_ok",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) }}",
                "type": "boolean"
              },
              {
                "id": "beade8c8-97cb-4fcf-87cb-0458264e2f43",
                "name": "result_type",
                "value": "text",
                "type": "string"
              },
              {
                "id": "d66eaca0-c9a9-463c-9266-dfc9b201ad01",
                "name": "result_filename",
                "value": "",
                "type": "string"
              },
              {
                "id": "3f30a0fb-2528-4d14-94d8-8de08d521688",
                "name": "result_property_title",
                "value": "={{ $('Loop outbound items').item.json.property_title || '' }}",
                "type": "string"
              },
              {
                "id": "2c63a762-9440-4ccd-a4d7-e220ff0750ca",
                "name": "result_source_url",
                "value": "={{ $('Loop outbound items').item.json.source_url || '' }}",
                "type": "string"
              },
              {
                "id": "e58aaecd-fa18-4319-abf4-f15a87245a3c",
                "name": "result_error",
                "value": "={{ Boolean($json.id || $json.message?.id || $json.message_id) ? '' : 'text_delivery_failed' }}",
                "type": "string"
              },
              {
                "id": "f02e6624-2f75-4275-9710-101658006811",
                "name": "result_content",
                "value": "={{ $('Loop outbound items').item.json.content || '' }}",
                "type": "string"
              },
              {
                "id": "9c4bdca8-253e-4a2a-87ad-cdfab8647b44",
                "name": "is_last_media_in_group",
                "value": "={{ $('Loop outbound items').item.json.is_last_media_in_group || false }}",
                "type": "boolean"
              },
              {
                "id": "5392086d-3d5a-4c03-8f69-bb5cbcbf730a",
                "name": "media_count",
                "value": "={{ $('Loop outbound items').item.json.media_count || 0 }}",
                "type": "number"
              },
              {
                "id": "a3afe1a9-80e7-49e8-967e-bae4c878e039",
                "name": "property_id",
                "value": "={{ $('Loop outbound items').item.json.property_id || '' }}",
                "type": "string"
              },
              {
                "id": "b376f5c5-da1f-4290-9413-9c09dcc77d79",
                "name": "group_expand_timestamp",
                "value": "={{ $('Loop outbound items').item.json.group_expand_timestamp || 0 }}",
                "type": "number"
              },
              {
                "id": "6e845790-07b8-4f62-9823-d87882e8752b",
                "name": "chatwoot_account_id",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_account_id || '2' }}",
                "type": "string"
              },
              {
                "id": "91c760c0-84d1-4d19-a18c-6168ce918dcc",
                "name": "chatwoot_api_token",
                "value": "={{ $('Loop outbound items').item.json.chatwoot_api_token || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8b76c604-2894-483a-b5f9-18fd5abc7888",
        "name": "Record text result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2180,
          480
        ]
      },
      {
        "parameters": {
          "jsCode": "const fallback = $input.first()?.json || {};\n\n// Read from the upstream Record nodes — Persist clobbers the input by\n// returning only the inserted row, so we can't trust $input here.\nlet current = {};\ntry { current = $('Record media success').item.json; } catch (e) {}\nif (!current || current.result_type !== 'media') {\n  try { current = $('Record media fallback result').item.json; } catch (e) {}\n}\nif (!current || (current.result_type !== 'media' && current.result_type !== 'media_fallback')) {\n  try { current = $('Record text result').item.json; } catch (e) {}\n}\nif (!current || !Object.keys(current).length) current = fallback;\n\nconst compact = (v) => String(v ?? '').trim();\n\n// --- BETWEEN FINCAS: delivery verification after last media of a property group ---\nif (current.is_last_media_in_group === true) {\n  const chatwootId = compact(current.chatwoot_id);\n  const chatwootAccountId = compact(current.chatwoot_account_id || '2') || '1';\n  const chatwootApiToken = compact(current.chatwoot_api_token);\n  const mediaCount = Number(current.media_count || 0);\n  const lastMsgId = Number(current.chatwoot_message_id || 0);\n  const chatwootBaseUrl = 'https://chat.depaseoenfincas.raaamp.co';\n\n  if (!chatwootId || !chatwootApiToken || mediaCount <= 0 || !lastMsgId) {\n    console.log('[delivery-check] missing fields — fallback 5s wait', { chatwootId: !!chatwootId, hasToken: !!chatwootApiToken, mediaCount, lastMsgId });\n    await new Promise((resolve) => setTimeout(resolve, 5000));\n    return [{ json: current }];\n  }\n\n  // The just-sent group occupies message ids [lastMsgId - mediaCount + 1 .. lastMsgId].\n  // We poll Chatwoot until ALL of those ids report status 'delivered' or 'read'.\n  const groupIds = new Set();\n  for (let k = 0; k < mediaCount; k++) groupIds.add(lastMsgId - k);\n\n  const MAX_RETRIES = 12;\n  const RETRY_INTERVAL_MS = 5000;\n  const messagesUrl = chatwootBaseUrl + '/api/v1/accounts/' + chatwootAccountId + '/conversations/' + chatwootId + '/messages';\n\n  for (let attempt = 1; attempt <= MAX_RETRIES; attempt++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        url: messagesUrl, method: 'GET',\n        headers: { api_access_token: chatwootApiToken, Accept: 'application/json' },\n        json: true, timeout: 10000, ignoreHttpStatusErrors: true,\n      });\n      const messages = (resp && resp.payload) || resp || [];\n      const groupMessages = messages.filter((m) => groupIds.has(Number(m.id)));\n      const deliveredCount = groupMessages.filter((m) => m.status === 'delivered' || m.status === 'read').length;\n\n      if (deliveredCount >= mediaCount) {\n        console.log('[delivery-check] all ' + mediaCount + ' delivered for ' + compact(current.property_id) + ' (attempt ' + attempt + ')');\n        return [{ json: current }];\n      }\n      console.log('[delivery-check] ' + deliveredCount + '/' + mediaCount + ' delivered (' + compact(current.property_id) + ') attempt ' + attempt);\n    } catch (err) {\n      console.log('[delivery-check] error attempt ' + attempt + ': ' + (err.message || err));\n    }\n    if (attempt < MAX_RETRIES) await new Promise((resolve) => setTimeout(resolve, RETRY_INTERVAL_MS));\n  }\n  console.log('[delivery-check] timeout for ' + compact(current.property_id) + ', proceeding anyway');\n  return [{ json: current }];\n}\n\n// Default 350ms throttle so WhatsApp doesn't reorder a burst of plain texts.\nawait new Promise((resolve) => setTimeout(resolve, 350));\nreturn [{ json: current }];\n"
        },
        "id": "a8f242d6-bca9-4529-b8d3-ce06aa03199d",
        "name": "Pause outbound item",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2660,
          280
        ]
      },
      {
        "parameters": {
          "jsCode": "const compact = (value) => String(value ?? '').trim();\nconst items = $input.all();\nconst first = items[0]?.json || {};\n\nconst results = items\n  .map((item) => item.json || {})\n  .filter((json) => compact(json.result_type) && compact(json.result_type) !== 'noop')\n  .map((json) => ({\n    ok: json.result_ok !== false,\n    type: compact(json.result_type),\n    filename: compact(json.result_filename) || null,\n    property_title: compact(json.result_property_title) || null,\n    source_url: compact(json.result_source_url) || null,\n    error: compact(json.result_error) || null,\n    fallback_sent: json.result_fallback_sent === true,\n    content: compact(json.result_content) || null,\n  }));\n\nreturn [\n  {\n    json: {\n      ok: results.every((entry) => entry.ok !== false),\n      chatwoot_id: compact(first.chatwoot_id) || null,\n      sent_count: results.length,\n      results,\n    },\n  },\n];"
        },
        "id": "91c0654e-72a7-4c9c-adfb-cf4282566f94",
        "name": "Summarize outbound results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1220,
          680
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fcec8753-9404-4517-b17a-1b48f1b51251",
                "name": "ok",
                "value": "={{ $json.ok === true }}",
                "type": "boolean"
              },
              {
                "id": "d213dfe5-3f8d-4bce-b46c-2e05116f2132",
                "name": "chatwoot_id",
                "value": "={{ $input.first().json.chatwoot_id || $json.chatwoot_id }}",
                "type": "string"
              },
              {
                "id": "30435673-a4cf-4463-985d-fc8650095baf",
                "name": "sent_count",
                "value": "={{ Number($json.sent_count || 0) }}",
                "type": "number"
              },
              {
                "id": "369eff67-e6ac-4b57-9e44-95f5953c1e7a",
                "name": "results",
                "value": "={{ $json.results || [] }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "id": "2b1607db-ba6a-4e1e-81be-362cd3b41c17",
        "name": "Outbound send result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1480,
          680
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO outbound_property_messages (\n  chatwoot_message_id, chatwoot_conversation_id, finca_id, property_title, attachment_id, message_kind\n)\nSELECT\n  $1::bigint,\n  $2::bigint,\n  $3::text,\n  NULLIF($4::text, ''),\n  CASE WHEN NULLIF($5::text, '') IS NULL THEN NULL ELSE $5::text::bigint END,\n  $6::text\nWHERE $1::bigint IS NOT NULL\n  AND $1::bigint > 0\n  AND $3::text IS NOT NULL\n  AND length($3::text) > 0\nON CONFLICT (chatwoot_message_id) DO NOTHING\nRETURNING chatwoot_message_id, finca_id",
          "options": {
            "queryReplacement": "={{ Number($('Upload media to Chatwoot').item.json.id || ($('Upload media to Chatwoot').item.json.message && $('Upload media to Chatwoot').item.json.message.id) || 0) }},={{ Number($('Loop outbound items').item.json.chatwoot_id || 0) }},={{ String($('Loop outbound items').item.json.property_id || '') }},={{ String($('Loop outbound items').item.json.property_title || '') }},={{ ($('Upload media to Chatwoot').item.json.attachments && $('Upload media to Chatwoot').item.json.attachments[0] && $('Upload media to Chatwoot').item.json.attachments[0].id) ? String($('Upload media to Chatwoot').item.json.attachments[0].id) : '' }},={{ 'media' }}"
          }
        },
        "id": "769ed152-fb9d-4f71-bd41-a79a6c9614dd",
        "name": "Persist property msg (media)",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          800,
          -100
        ],
        "credentials": {
          "postgres": {
            "id": "OY6FEujGvFF1rDbg",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "executeOnce": false,
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO outbound_property_messages (\n  chatwoot_message_id, chatwoot_conversation_id, finca_id, property_title, attachment_id, message_kind\n)\nSELECT\n  $1::bigint,\n  $2::bigint,\n  $3::text,\n  NULLIF($4::text, ''),\n  CASE WHEN NULLIF($5::text, '') IS NULL THEN NULL ELSE $5::text::bigint END,\n  $6::text\nWHERE $1::bigint IS NOT NULL\n  AND $1::bigint > 0\n  AND $3::text IS NOT NULL\n  AND length($3::text) > 0\nON CONFLICT (chatwoot_message_id) DO NOTHING\nRETURNING chatwoot_message_id, finca_id",
          "options": {
            "queryReplacement": "={{ Number($('Send Chatwoot text direct').item.json.id || ($('Send Chatwoot text direct').item.json.message && $('Send Chatwoot text direct').item.json.message.id) || 0) }},={{ Number($('Loop outbound items').item.json.chatwoot_id || 0) }},={{ String($('Loop outbound items').item.json.property_id || '') }},={{ String($('Loop outbound items').item.json.property_title || '') }},={{ '' }},={{ 'card' }}"
          }
        },
        "id": "3793ebf4-603c-44bd-adfe-0f409fc3d20a",
        "name": "Persist property msg (text)",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          800,
          220
        ],
        "credentials": {
          "postgres": {
            "id": "OY6FEujGvFF1rDbg",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "executeOnce": false,
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      }
    ],
    "connections": {
      "When outbound sender is called": {
        "main": [
          [
            {
              "node": "Normalize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Async media webhook": {
        "main": [
          [
            {
              "node": "Normalize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize input": {
        "main": [
          [
            {
              "node": "Expand outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand outbound items": {
        "main": [
          [
            {
              "node": "Loop outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop outbound items": {
        "main": [
          [
            {
              "node": "Summarize outbound results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is media outbound item?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is media outbound item?": {
        "main": [
          [
            {
              "node": "Download media asset",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is text outbound item?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download media asset": {
        "main": [
          [
            {
              "node": "Media download ok?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Media download ok?": {
        "main": [
          [
            {
              "node": "Upload media to Chatwoot",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send media fallback text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload media to Chatwoot": {
        "main": [
          [
            {
              "node": "Media upload ok?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Media upload ok?": {
        "main": [
          [
            {
              "node": "Record media success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send media fallback text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record media success": {
        "main": [
          [
            {
              "node": "Persist property msg (media)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send media fallback text": {
        "main": [
          [
            {
              "node": "Record media fallback result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record media fallback result": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is text outbound item?": {
        "main": [
          [
            {
              "node": "Send Chatwoot text direct",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Chatwoot text direct": {
        "main": [
          [
            {
              "node": "Record text result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record text result": {
        "main": [
          [
            {
              "node": "Persist property msg (text)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pause outbound item": {
        "main": [
          [
            {
              "node": "Loop outbound items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize outbound results": {
        "main": [
          [
            {
              "node": "Outbound send result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Outbound send result": {
        "main": [
          []
        ]
      },
      "Persist property msg (media)": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Persist property msg (text)": {
        "main": [
          [
            {
              "node": "Pause outbound item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "JUANDAVID VIZCAYA",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-30T23:42:38.271Z",
        "id": 410,
        "workflowId": "Bg5nl2Y26PuwF2NB",
        "versionId": "a0229e6f-c407-4796-8a3c-ed6aa37f3dd5",
        "event": "deactivated",
        "userId": "257b3b29-80bb-4c81-9a8b-3afe1e45aa51"
      },
      {
        "createdAt": "2026-06-30T23:42:38.288Z",
        "id": 411,
        "workflowId": "Bg5nl2Y26PuwF2NB",
        "versionId": "a0229e6f-c407-4796-8a3c-ed6aa37f3dd5",
        "event": "activated",
        "userId": "257b3b29-80bb-4c81-9a8b-3afe1e45aa51"
      }
    ]
  }
}
