snapshots/selection_notification_sender.json
{
  "updatedAt": "2026-06-30T23:42:36.168Z",
  "createdAt": "2026-05-09T03:25:37.901Z",
  "id": "tNvfWKi1TA7O6maf",
  "name": "WhatsApp Selection Notification Sender - De Paseo en Fincas",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "bf697ab7-1c91-4b1a-9f89-15426d9785f7",
      "name": "When selection sender is called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const parseBatch = (value) => {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n};\n\nconst input = $json || {};\nconst batch = parseBatch(\n  input.selection_notification_batch_json ||\n    input.selection_notification_batch ||\n    input.batch_json ||\n    input.batch,\n);\n\nreturn batch\n  .filter((item) => item && item.conversation_id && item.selected_finca_id && item.recipient_phone)\n  .map((item, index) => ({\n    json: {\n      ...item,\n      sequence_index: index,\n    },\n  }));"
      },
      "id": "5c68a78b-2431-4f87-b022-20db11eac7c5",
      "name": "Expand selection notification batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "with input as (\n  select\n    {{ \"'\" + String($json.conversation_id).replace(/'/g, \"''\") + \"'\" }}::text as conversation_id,\n    {{ \"'\" + String($json.selected_finca_id).replace(/'/g, \"''\") + \"'\" }}::text as selected_finca_id,\n    {{ \"'\" + String($json.recipient_phone).replace(/'/g, \"''\") + \"'\" }}::text as recipient_phone,\n    {{ \"'\" + String($json.template_name || 'staff_finca_selected_v1').replace(/'/g, \"''\") + \"'\" }}::text as template_name,\n    {{ \"'\" + String($json.template_language || 'es_CO').replace(/'/g, \"''\") + \"'\" }}::text as template_language,\n    {{ \"'\" + JSON.stringify($json.payload || {}).replace(/'/g, \"''\") + \"'\" }}::jsonb as payload\n),\ninserted as (\n  insert into public.selection_notifications (\n    conversation_id,\n    selected_finca_id,\n    recipient_phone,\n    template_name,\n    template_language,\n    status,\n    payload\n  )\n  select\n    input.conversation_id,\n    input.selected_finca_id,\n    input.recipient_phone,\n    input.template_name,\n    input.template_language,\n    'pending',\n    input.payload\n  from input\n  on conflict (conversation_id, selected_finca_id, recipient_phone)\n  where status in ('pending', 'sent')\n  do nothing\n  returning *\n)\nselect * from inserted;",
        "options": {}
      },
      "id": "e8150ca8-b3a8-4c10-a5cd-412cc901042a",
      "name": "Insert pending selection notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "OY6FEujGvFF1rDbg",
          "name": "Postgres account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst payload = input.payload || {};\nconst text = (value) => { const n = String(value ?? '').trim(); return n || 'Sin dato'; };\nconst compact = (value) => String(value ?? '').trim();\nconst normalizeWaTo = (value) => {\n  let d = String(value || '').replace(/\\D+/g, '').trim();\n  if (!d) return '';\n  if (d.length === 10) d = '57' + d;\n  return d;\n};\n\nconst recipientTo = normalizeWaTo(input.recipient_phone);\nconst clientName = text(payload.client_name);\nconst templateName = String(input.template_name || 'staff_finca_selected_v1').trim();\nconst templateLanguage = String(input.template_language || 'es_CO').trim();\n\nconst detail = [\n  'Tel\\u00e9fono: ' + text(payload.wa_id),\n  'Finca: ' + text(payload.selected_finca_name || payload.selected_finca_id),\n  'Fechas: ' + text(payload.fechas),\n  'Personas: ' + text(payload.personas),\n  'Zona: ' + text(payload.zona),\n  'Chatwoot: ' + text(payload.chatwoot_link),\n].join(' | ');\n\n// Body params seg\\u00fan template\nconst bodyParams = templateName === 'hitl_handoff_v1'\n  ? [\n      { type: 'text', text: clientName !== 'Sin dato' ? clientName : 'Cliente' },\n      { type: 'text', text: text(payload.wa_id) },\n      { type: 'text', text: text(payload.chatwoot_link) },\n    ]\n  : [\n      { type: 'text', text: clientName !== 'Sin dato' ? clientName : 'Cliente' },\n      { type: 'text', text: detail },\n    ];\n\n// Meta WhatsApp Cloud API directo (+57 WABA). Notif NO pasa por Chatwoot.\nconst PHONE_ID = '1033166259876164';\nconst TOKEN = 'EAAZA467YgZBEQBRLScZAfftZAPMFdNIcWVeNNj3vPP6Y88ILNvISorwSxQD2Owvfas4nX0u9EM4ngH9UAHWZBzE61zm8Fhnz9ASN12uOjNYskDZAMXJeDyrbPmdomRhPllsJHVDdqCCFZBpCf5ZCUl8MbXP9iK7YEZBZAmFdz7lz2wG4jyhyptCMdLmqmIbLmQWpDpZAAZDZD';\n\nlet responseStatus = null;\nlet responseBody = null;\nlet providerMessageId = null;\nlet errorMessage = null;\n\ntry {\n  if (!recipientTo) throw new Error('selection_recipient_phone_missing');\n  const res = await this.helpers.httpRequest({\n    url: 'https://graph.facebook.com/v21.0/' + PHONE_ID + '/messages',\n    method: 'POST',\n    headers: { Authorization: 'Bearer ' + TOKEN, 'Content-Type': 'application/json' },\n    body: {\n      messaging_product: 'whatsapp',\n      to: recipientTo,\n      type: 'template',\n      template: {\n        name: templateName,\n        language: { code: templateLanguage },\n        components: [{ type: 'body', parameters: bodyParams }],\n      },\n    },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    timeout: 15000,\n  });\n  responseStatus = res.statusCode;\n  responseBody = res.body;\n  providerMessageId =\n    (res.body && res.body.messages && res.body.messages[0] && res.body.messages[0].id) || null;\n  if (responseStatus < 200 || responseStatus >= 300) {\n    errorMessage =\n      (res.body && res.body.error && res.body.error.message) ||\n      JSON.stringify(res.body) ||\n      'meta_template_send_failed';\n  }\n} catch (e) {\n  errorMessage = e.message || 'selection_template_send_exception';\n  responseBody = responseBody || { error: errorMessage };\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      provider_message_id: providerMessageId,\n      response_status: responseStatus,\n      response_body: responseBody,\n      ok: !errorMessage,\n      error_message: errorMessage,\n    },\n  },\n];"
      },
      "id": "101a87f2-2170-4bd1-8e49-598c65c9d997",
      "name": "Send WhatsApp selection template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4480db2a-6a74-4345-97b3-c45cc90c9d18",
              "leftValue": "={{ $json.ok === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "87cd6b79-1911-4182-ba46-49eea4919197",
      "name": "Selection delivery ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.selection_notifications\nset\n  status = 'sent',\n  provider_message_id = {{ $json.provider_message_id ? \"'\" + String($json.provider_message_id).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  sent_at = now(),\n  error_message = null\nwhere id = {{ Number.isFinite(Number($json.id)) ? Number($json.id) : 'null' }}\nreturning id, status;",
        "options": {}
      },
      "id": "297b5b91-b82d-4465-a827-8acfe818f70e",
      "name": "Mark selection notification sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1440,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "OY6FEujGvFF1rDbg",
          "name": "Postgres account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.selection_notifications\nset\n  status = 'failed',\n  error_message = {{ $json.error_message ? \"'\" + String($json.error_message).replace(/'/g, \"''\") + \"'\" : \"'Unknown error'\" }}\nwhere id = {{ Number.isFinite(Number($json.id)) ? Number($json.id) : 'null' }}\nreturning id, status;",
        "options": {}
      },
      "id": "a2bf574b-05f5-418e-9679-1b72fcb5dc2d",
      "name": "Mark selection notification failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1440,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "OY6FEujGvFF1rDbg",
          "name": "Postgres account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "When selection sender is called": {
      "main": [
        [
          {
            "node": "Expand selection notification batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand selection notification batch": {
      "main": [
        [
          {
            "node": "Insert pending selection notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert pending selection notification": {
      "main": [
        [
          {
            "node": "Send WhatsApp selection template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp selection template": {
      "main": [
        [
          {
            "node": "Selection delivery ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selection delivery ok?": {
      "main": [
        [
          {
            "node": "Mark selection notification sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark selection notification failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark selection notification sent": {
      "main": [
        []
      ]
    },
    "Mark selection notification failed": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Lt8n12vKuqnvd1LH"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "591c3aad-7abe-4f7f-a5a7-744101d4fcde",
  "activeVersionId": "591c3aad-7abe-4f7f-a5a7-744101d4fcde",
  "versionCounter": 32,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-09T03:25:37.901Z",
      "createdAt": "2026-05-09T03:25:37.901Z",
      "role": "workflow:owner",
      "workflowId": "tNvfWKi1TA7O6maf",
      "projectId": "72GVorD8Nd4GZR0Z",
      "project": {
        "updatedAt": "2026-05-09T02:57:51.320Z",
        "createdAt": "2026-05-09T01:59:53.638Z",
        "id": "72GVorD8Nd4GZR0Z",
        "name": "JUANDAVID VIZCAYA <depaseoenfincas06@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "257b3b29-80bb-4c81-9a8b-3afe1e45aa51"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-30T23:42:36.169Z",
    "createdAt": "2026-06-30T23:42:36.169Z",
    "versionId": "591c3aad-7abe-4f7f-a5a7-744101d4fcde",
    "workflowId": "tNvfWKi1TA7O6maf",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "bf697ab7-1c91-4b1a-9f89-15426d9785f7",
        "name": "When selection sender is called",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          240
        ]
      },
      {
        "parameters": {
          "jsCode": "const parseBatch = (value) => {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n};\n\nconst input = $json || {};\nconst batch = parseBatch(\n  input.selection_notification_batch_json ||\n    input.selection_notification_batch ||\n    input.batch_json ||\n    input.batch,\n);\n\nreturn batch\n  .filter((item) => item && item.conversation_id && item.selected_finca_id && item.recipient_phone)\n  .map((item, index) => ({\n    json: {\n      ...item,\n      sequence_index: index,\n    },\n  }));"
        },
        "id": "5c68a78b-2431-4f87-b022-20db11eac7c5",
        "name": "Expand selection notification batch",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          240
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "with input as (\n  select\n    {{ \"'\" + String($json.conversation_id).replace(/'/g, \"''\") + \"'\" }}::text as conversation_id,\n    {{ \"'\" + String($json.selected_finca_id).replace(/'/g, \"''\") + \"'\" }}::text as selected_finca_id,\n    {{ \"'\" + String($json.recipient_phone).replace(/'/g, \"''\") + \"'\" }}::text as recipient_phone,\n    {{ \"'\" + String($json.template_name || 'staff_finca_selected_v1').replace(/'/g, \"''\") + \"'\" }}::text as template_name,\n    {{ \"'\" + String($json.template_language || 'es_CO').replace(/'/g, \"''\") + \"'\" }}::text as template_language,\n    {{ \"'\" + JSON.stringify($json.payload || {}).replace(/'/g, \"''\") + \"'\" }}::jsonb as payload\n),\ninserted as (\n  insert into public.selection_notifications (\n    conversation_id,\n    selected_finca_id,\n    recipient_phone,\n    template_name,\n    template_language,\n    status,\n    payload\n  )\n  select\n    input.conversation_id,\n    input.selected_finca_id,\n    input.recipient_phone,\n    input.template_name,\n    input.template_language,\n    'pending',\n    input.payload\n  from input\n  on conflict (conversation_id, selected_finca_id, recipient_phone)\n  where status in ('pending', 'sent')\n  do nothing\n  returning *\n)\nselect * from inserted;",
          "options": {}
        },
        "id": "e8150ca8-b3a8-4c10-a5cd-412cc901042a",
        "name": "Insert pending selection notification",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          720,
          240
        ],
        "credentials": {
          "postgres": {
            "id": "OY6FEujGvFF1rDbg",
            "name": "Postgres account"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "jsCode": "const input = $json || {};\nconst payload = input.payload || {};\nconst text = (value) => { const n = String(value ?? '').trim(); return n || 'Sin dato'; };\nconst compact = (value) => String(value ?? '').trim();\nconst normalizeWaTo = (value) => {\n  let d = String(value || '').replace(/\\D+/g, '').trim();\n  if (!d) return '';\n  if (d.length === 10) d = '57' + d;\n  return d;\n};\n\nconst recipientTo = normalizeWaTo(input.recipient_phone);\nconst clientName = text(payload.client_name);\nconst templateName = String(input.template_name || 'staff_finca_selected_v1').trim();\nconst templateLanguage = String(input.template_language || 'es_CO').trim();\n\nconst detail = [\n  'Tel\\u00e9fono: ' + text(payload.wa_id),\n  'Finca: ' + text(payload.selected_finca_name || payload.selected_finca_id),\n  'Fechas: ' + text(payload.fechas),\n  'Personas: ' + text(payload.personas),\n  'Zona: ' + text(payload.zona),\n  'Chatwoot: ' + text(payload.chatwoot_link),\n].join(' | ');\n\n// Body params seg\\u00fan template\nconst bodyParams = templateName === 'hitl_handoff_v1'\n  ? [\n      { type: 'text', text: clientName !== 'Sin dato' ? clientName : 'Cliente' },\n      { type: 'text', text: text(payload.wa_id) },\n      { type: 'text', text: text(payload.chatwoot_link) },\n    ]\n  : [\n      { type: 'text', text: clientName !== 'Sin dato' ? clientName : 'Cliente' },\n      { type: 'text', text: detail },\n    ];\n\n// Meta WhatsApp Cloud API directo (+57 WABA). Notif NO pasa por Chatwoot.\nconst PHONE_ID = '1033166259876164';\nconst TOKEN = 'EAAZA467YgZBEQBRLScZAfftZAPMFdNIcWVeNNj3vPP6Y88ILNvISorwSxQD2Owvfas4nX0u9EM4ngH9UAHWZBzE61zm8Fhnz9ASN12uOjNYskDZAMXJeDyrbPmdomRhPllsJHVDdqCCFZBpCf5ZCUl8MbXP9iK7YEZBZAmFdz7lz2wG4jyhyptCMdLmqmIbLmQWpDpZAAZDZD';\n\nlet responseStatus = null;\nlet responseBody = null;\nlet providerMessageId = null;\nlet errorMessage = null;\n\ntry {\n  if (!recipientTo) throw new Error('selection_recipient_phone_missing');\n  const res = await this.helpers.httpRequest({\n    url: 'https://graph.facebook.com/v21.0/' + PHONE_ID + '/messages',\n    method: 'POST',\n    headers: { Authorization: 'Bearer ' + TOKEN, 'Content-Type': 'application/json' },\n    body: {\n      messaging_product: 'whatsapp',\n      to: recipientTo,\n      type: 'template',\n      template: {\n        name: templateName,\n        language: { code: templateLanguage },\n        components: [{ type: 'body', parameters: bodyParams }],\n      },\n    },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    timeout: 15000,\n  });\n  responseStatus = res.statusCode;\n  responseBody = res.body;\n  providerMessageId =\n    (res.body && res.body.messages && res.body.messages[0] && res.body.messages[0].id) || null;\n  if (responseStatus < 200 || responseStatus >= 300) {\n    errorMessage =\n      (res.body && res.body.error && res.body.error.message) ||\n      JSON.stringify(res.body) ||\n      'meta_template_send_failed';\n  }\n} catch (e) {\n  errorMessage = e.message || 'selection_template_send_exception';\n  responseBody = responseBody || { error: errorMessage };\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      provider_message_id: providerMessageId,\n      response_status: responseStatus,\n      response_body: responseBody,\n      ok: !errorMessage,\n      error_message: errorMessage,\n    },\n  },\n];"
        },
        "id": "101a87f2-2170-4bd1-8e49-598c65c9d997",
        "name": "Send WhatsApp selection template",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "4480db2a-6a74-4345-97b3-c45cc90c9d18",
                "leftValue": "={{ $json.ok === true }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "87cd6b79-1911-4182-ba46-49eea4919197",
        "name": "Selection delivery ok?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1200,
          240
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "update public.selection_notifications\nset\n  status = 'sent',\n  provider_message_id = {{ $json.provider_message_id ? \"'\" + String($json.provider_message_id).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  sent_at = now(),\n  error_message = null\nwhere id = {{ Number.isFinite(Number($json.id)) ? Number($json.id) : 'null' }}\nreturning id, status;",
          "options": {}
        },
        "id": "297b5b91-b82d-4465-a827-8acfe818f70e",
        "name": "Mark selection notification sent",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          1440,
          160
        ],
        "credentials": {
          "postgres": {
            "id": "OY6FEujGvFF1rDbg",
            "name": "Postgres account"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "update public.selection_notifications\nset\n  status = 'failed',\n  error_message = {{ $json.error_message ? \"'\" + String($json.error_message).replace(/'/g, \"''\") + \"'\" : \"'Unknown error'\" }}\nwhere id = {{ Number.isFinite(Number($json.id)) ? Number($json.id) : 'null' }}\nreturning id, status;",
          "options": {}
        },
        "id": "a2bf574b-05f5-418e-9679-1b72fcb5dc2d",
        "name": "Mark selection notification failed",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          1440,
          336
        ],
        "credentials": {
          "postgres": {
            "id": "OY6FEujGvFF1rDbg",
            "name": "Postgres account"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      }
    ],
    "connections": {
      "When selection sender is called": {
        "main": [
          [
            {
              "node": "Expand selection notification batch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand selection notification batch": {
        "main": [
          [
            {
              "node": "Insert pending selection notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert pending selection notification": {
        "main": [
          [
            {
              "node": "Send WhatsApp selection template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send WhatsApp selection template": {
        "main": [
          [
            {
              "node": "Selection delivery ok?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Selection delivery ok?": {
        "main": [
          [
            {
              "node": "Mark selection notification sent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mark selection notification failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark selection notification sent": {
        "main": [
          []
        ]
      },
      "Mark selection notification failed": {
        "main": [
          []
        ]
      }
    },
    "authors": "JUANDAVID VIZCAYA",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-30T23:42:36.193Z",
        "id": 408,
        "workflowId": "tNvfWKi1TA7O6maf",
        "versionId": "591c3aad-7abe-4f7f-a5a7-744101d4fcde",
        "event": "deactivated",
        "userId": "257b3b29-80bb-4c81-9a8b-3afe1e45aa51"
      },
      {
        "createdAt": "2026-06-30T23:42:36.204Z",
        "id": 409,
        "workflowId": "tNvfWKi1TA7O6maf",
        "versionId": "591c3aad-7abe-4f7f-a5a7-744101d4fcde",
        "event": "activated",
        "userId": "257b3b29-80bb-4c81-9a8b-3afe1e45aa51"
      }
    ]
  }
}
