n8n_exports/selection_notification_sender_2026-05-26.json
{"updatedAt":"2026-05-26T16:31:24.778Z","createdAt":"2026-05-09T03:25:37.901Z","id":"tNvfWKi1TA7O6maf","name":"WhatsApp Selection Notification Sender - De Paseo en Fincas","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"bf697ab7-1c91-4b1a-9f89-15426d9785f7","name":"When selection sender is called","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,240]},{"parameters":{"jsCode":"const parseBatch = (value) => {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n};\n\nconst input = $json || {};\nconst batch = parseBatch(\n  input.selection_notification_batch_json ||\n    input.selection_notification_batch ||\n    input.batch_json ||\n    input.batch,\n);\n\nreturn batch\n  .filter((item) => item && item.conversation_id && item.selected_finca_id && item.recipient_phone)\n  .map((item, index) => ({\n    json: {\n      ...item,\n      sequence_index: index,\n    },\n  }));"},"id":"5c68a78b-2431-4f87-b022-20db11eac7c5","name":"Expand selection notification batch","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,240]},{"parameters":{"operation":"executeQuery","query":"with input as (\n  select\n    {{ \"'\" + String($json.conversation_id).replace(/'/g, \"''\") + \"'\" }}::text as conversation_id,\n    {{ \"'\" + String($json.selected_finca_id).replace(/'/g, \"''\") + \"'\" }}::text as selected_finca_id,\n    {{ \"'\" + String($json.recipient_phone).replace(/'/g, \"''\") + \"'\" }}::text as recipient_phone,\n    {{ \"'\" + String($json.template_name || 'staff_finca_selected_v1').replace(/'/g, \"''\") + \"'\" }}::text as template_name,\n    {{ \"'\" + String($json.template_language || 'es_CO').replace(/'/g, \"''\") + \"'\" }}::text as template_language,\n    {{ \"'\" + JSON.stringify($json.payload || {}).replace(/'/g, \"''\") + \"'\" }}::jsonb as payload\n),\ninserted as (\n  insert into public.selection_notifications (\n    conversation_id,\n    selected_finca_id,\n    recipient_phone,\n    template_name,\n    template_language,\n    status,\n    payload\n  )\n  select\n    input.conversation_id,\n    input.selected_finca_id,\n    input.recipient_phone,\n    input.template_name,\n    input.template_language,\n    'pending',\n    input.payload\n  from input\n  on conflict (conversation_id, selected_finca_id, recipient_phone)\n  where status in ('pending', 'sent')\n  do nothing\n  returning *\n)\nselect * from inserted;","options":{}},"id":"e8150ca8-b3a8-4c10-a5cd-412cc901042a","name":"Insert pending selection notification","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,240],"credentials":{"postgres":{"id":"OY6FEujGvFF1rDbg","name":"Postgres account"}}},{"parameters":{"jsCode":"const input = $json || {};\nconst payload = input.payload || {};\nconst text = (value) => {\n  const normalized = String(value ?? '').trim();\n  return normalized || 'Sin dato';\n};\nconst compact = (value) => String(value ?? '').trim();\nconst normalizePhone = (value) => {\n  const digits = String(value || '').replace(/\\D+/g, '').trim();\n  if (!digits) return '';\n  if (digits.startsWith('57') && digits.length === 12) return '+' + digits;\n  if (digits.length === 10) return '+57' + digits;\n  return '+' + digits;\n};\nconst sourceIdForPhone = (value) => String(value || '').replace(/\\D+/g, '').trim();\nconst parseNumber = (value) => {\n  const num = Number(value);\n  return Number.isFinite(num) && num > 0 ? num : null;\n};\n\nconst detail = [\n  'Teléfono: ' + text(payload.wa_id),\n  'Finca: ' + text(payload.selected_finca_name || payload.selected_finca_id),\n  'Fechas: ' + text(payload.fechas),\n  'Personas: ' + text(payload.personas),\n  'Zona: ' + text(payload.zona),\n  'Chatwoot: ' + text(payload.chatwoot_link),\n].join(' | ');\n\nconst recipientPhone = normalizePhone(input.recipient_phone);\nconst clientName = text(payload.client_name);\n\n// Chatwoot account 1 (owner-side WABA = +573105639334 — usa el mismo número\n// que envía solicitud_reserva al propietario, NO Kapso sandbox +1).\nconst inboxName = 'Agent_propietarios';\nconst chatwootBaseUrl = 'https://chat.depaseoenfincas.raaamp.co';\nconst chatwootAccountId = '1';\nconst chatwootApiToken = 'HHtQoPLW991XS8Rcu5thbZ5x';\nconst templateName = String(input.template_name || 'staff_finca_selected_v1').trim();\nconst templateLanguage = String(input.template_language || 'es_CO').trim();\n\nlet responseStatus = null;\nlet responseBody = null;\nlet providerMessageId = null;\nlet errorMessage = null;\nlet cwInboxId = null;\nlet cwContactId = null;\nlet cwConversationId = null;\n\nasync function cwApi(pathname, method = 'GET', body = null, query = null) {\n  const url = chatwootBaseUrl.replace(/\\/+$/, '') + (pathname.startsWith('/') ? pathname : '/' + pathname) +\n    (query ? '?' + Object.entries(query).filter(([k,v])=>v!=null&&v!=='').map(([k,v])=>encodeURIComponent(k)+'='+encodeURIComponent(String(v))).join('&') : '');\n  const opts = {\n    url,\n    method,\n    headers: { 'Content-Type': 'application/json', Accept: 'application/json', api_access_token: chatwootApiToken },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    timeout: 12000,\n  };\n  if (body !== null) opts.body = body;\n  const res = await this.helpers.httpRequest(opts);\n  return { status: res.statusCode, body: res.body };\n}\n\ntry {\n  if (!recipientPhone) throw new Error('selection_recipient_phone_missing');\n\n  // 1. Find inbox\n  const inboxesRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/inboxes');\n  if (inboxesRes.status >= 300) throw new Error('inbox_list_failed:' + inboxesRes.status);\n  const inboxes = inboxesRes.body?.payload || [];\n  const inbox = inboxes.find(i => compact(i.name).toLowerCase() === inboxName.toLowerCase()) || inboxes[0];\n  if (!inbox?.id) throw new Error('inbox_not_found:' + inboxName);\n  cwInboxId = parseNumber(inbox.id);\n\n  // 2. Find or create contact\n  const sourceId = sourceIdForPhone(recipientPhone);\n  const searchRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/contacts/search', 'GET', null, { q: sourceId });\n  let contact = null;\n  if (searchRes.status < 300) {\n    const matches = searchRes.body?.payload || [];\n    contact = matches.find(c => normalizePhone(c.phone_number) === recipientPhone) || null;\n  }\n  if (!contact) {\n    const createRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/contacts', 'POST', {\n      inbox_id: null,\n      name: clientName !== 'Sin dato' ? clientName : 'Cliente',\n      phone_number: recipientPhone,\n    });\n    if (createRes.status >= 300) throw new Error('contact_create_failed:' + createRes.status);\n    contact = createRes.body?.payload || createRes.body;\n  }\n  cwContactId = parseNumber(contact?.id);\n\n  // 3. Ensure contact-inbox link\n  const cibRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/contacts/' + cwContactId + '/contactable_inboxes');\n  let resolvedSourceId = sourceId;\n  if (cibRes.status < 300) {\n    const ex = (cibRes.body?.payload || []).find(e => parseNumber(e.inbox?.id) === cwInboxId);\n    if (ex) resolvedSourceId = compact(ex.source_id) || sourceId;\n    else {\n      const ciCreate = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/contacts/' + cwContactId + '/contact_inboxes', 'POST', {\n        inbox_id: cwInboxId,\n        source_id: sourceId,\n      });\n      if (ciCreate.status >= 300) throw new Error('contact_inbox_failed:' + ciCreate.status);\n      resolvedSourceId = compact(ciCreate.body?.source_id) || compact(ciCreate.body?.payload?.source_id) || sourceId;\n    }\n  }\n\n  // 4. Find or create conversation\n  const convCreate = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/conversations', 'POST', {\n    source_id: resolvedSourceId,\n    inbox_id: cwInboxId,\n    contact_id: cwContactId,\n    status: 'open',\n  });\n  if (convCreate.status >= 300) throw new Error('conversation_create_failed:' + convCreate.status);\n  cwConversationId = parseNumber(convCreate.body?.id);\n\n  // 5. Send template message\n  const sendRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/conversations/' + cwConversationId + '/messages', 'POST', {\n    content: 'Cliente: ' + clientName + '\\n\\n' + detail,\n    message_type: 'outgoing',\n    private: false,\n    content_type: 'text',\n    content_attributes: {},\n    template_params: {\n      name: templateName,\n      category: 'UTILITY',\n      language: templateLanguage,\n      processed_params: {\n        body: {\n          '1': clientName !== 'Sin dato' ? clientName : 'Cliente',\n          '2': detail,\n        },\n      },\n    },\n  });\n  responseStatus = sendRes.status;\n  responseBody = sendRes.body;\n  providerMessageId = compact(sendRes.body?.source_id) || null;\n  if (responseStatus < 200 || responseStatus >= 300) {\n    errorMessage = sendRes.body?.error?.message || sendRes.body?.message || JSON.stringify(sendRes.body) || 'chatwoot_template_send_failed';\n  }\n} catch (e) {\n  errorMessage = e.message || 'selection_template_send_exception';\n  responseBody = responseBody || { error: errorMessage };\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      provider_message_id: providerMessageId,\n      response_status: responseStatus,\n      response_body: responseBody,\n      ok: !errorMessage,\n      error_message: errorMessage,\n      selection_chatwoot_inbox_id: cwInboxId,\n      selection_chatwoot_contact_id: cwContactId,\n      selection_chatwoot_conversation_id: cwConversationId,\n    },\n  },\n];"},"id":"101a87f2-2170-4bd1-8e49-598c65c9d997","name":"Send WhatsApp selection template","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4480db2a-6a74-4345-97b3-c45cc90c9d18","leftValue":"={{ $json.ok === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"87cd6b79-1911-4182-ba46-49eea4919197","name":"Selection delivery ok?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,240]},{"parameters":{"operation":"executeQuery","query":"update public.selection_notifications\nset\n  status = 'sent',\n  provider_message_id = {{ $json.provider_message_id ? \"'\" + String($json.provider_message_id).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  sent_at = now(),\n  error_message = null\nwhere id = {{ Number($json.id) }}\nreturning id, status;","options":{}},"id":"297b5b91-b82d-4465-a827-8acfe818f70e","name":"Mark selection notification sent","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1440,160],"credentials":{"postgres":{"id":"OY6FEujGvFF1rDbg","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update public.selection_notifications\nset\n  status = 'failed',\n  error_message = {{ $json.error_message ? \"'\" + String($json.error_message).replace(/'/g, \"''\") + \"'\" : \"'Unknown error'\" }}\nwhere id = {{ Number($json.id) }}\nreturning id, status;","options":{}},"id":"a2bf574b-05f5-418e-9679-1b72fcb5dc2d","name":"Mark selection notification failed","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1440,336],"credentials":{"postgres":{"id":"OY6FEujGvFF1rDbg","name":"Postgres account"}}}],"connections":{"When selection sender is called":{"main":[[{"node":"Expand selection notification batch","type":"main","index":0}]]},"Expand selection notification batch":{"main":[[{"node":"Insert pending selection notification","type":"main","index":0}]]},"Insert pending selection notification":{"main":[[{"node":"Send WhatsApp selection template","type":"main","index":0}]]},"Send WhatsApp selection template":{"main":[[{"node":"Selection delivery ok?","type":"main","index":0}]]},"Selection delivery ok?":{"main":[[{"node":"Mark selection notification sent","type":"main","index":0}],[{"node":"Mark selection notification failed","type":"main","index":0}]]},"Mark selection notification sent":{"main":[[]]},"Mark selection notification failed":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"Lt8n12vKuqnvd1LH"},"staticData":null,"meta":null,"pinData":null,"versionId":"4989a752-a2cb-4918-bbef-2fa50336ff56","activeVersionId":"4989a752-a2cb-4918-bbef-2fa50336ff56","versionCounter":20,"triggerCount":0,"shared":[{"updatedAt":"2026-05-09T03:25:37.901Z","createdAt":"2026-05-09T03:25:37.901Z","role":"workflow:owner","workflowId":"tNvfWKi1TA7O6maf","projectId":"72GVorD8Nd4GZR0Z","project":{"updatedAt":"2026-05-09T02:57:51.320Z","createdAt":"2026-05-09T01:59:53.638Z","id":"72GVorD8Nd4GZR0Z","name":"JUANDAVID VIZCAYA <depaseoenfincas06@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"257b3b29-80bb-4c81-9a8b-3afe1e45aa51"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-26T16:31:24.780Z","createdAt":"2026-05-26T16:31:24.780Z","versionId":"4989a752-a2cb-4918-bbef-2fa50336ff56","workflowId":"tNvfWKi1TA7O6maf","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"bf697ab7-1c91-4b1a-9f89-15426d9785f7","name":"When selection sender is called","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,240]},{"parameters":{"jsCode":"const parseBatch = (value) => {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  try {\n    const parsed = JSON.parse(String(value));\n    return Array.isArray(parsed) ? parsed : [];\n  } catch {\n    return [];\n  }\n};\n\nconst input = $json || {};\nconst batch = parseBatch(\n  input.selection_notification_batch_json ||\n    input.selection_notification_batch ||\n    input.batch_json ||\n    input.batch,\n);\n\nreturn batch\n  .filter((item) => item && item.conversation_id && item.selected_finca_id && item.recipient_phone)\n  .map((item, index) => ({\n    json: {\n      ...item,\n      sequence_index: index,\n    },\n  }));"},"id":"5c68a78b-2431-4f87-b022-20db11eac7c5","name":"Expand selection notification batch","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,240]},{"parameters":{"operation":"executeQuery","query":"with input as (\n  select\n    {{ \"'\" + String($json.conversation_id).replace(/'/g, \"''\") + \"'\" }}::text as conversation_id,\n    {{ \"'\" + String($json.selected_finca_id).replace(/'/g, \"''\") + \"'\" }}::text as selected_finca_id,\n    {{ \"'\" + String($json.recipient_phone).replace(/'/g, \"''\") + \"'\" }}::text as recipient_phone,\n    {{ \"'\" + String($json.template_name || 'staff_finca_selected_v1').replace(/'/g, \"''\") + \"'\" }}::text as template_name,\n    {{ \"'\" + String($json.template_language || 'es_CO').replace(/'/g, \"''\") + \"'\" }}::text as template_language,\n    {{ \"'\" + JSON.stringify($json.payload || {}).replace(/'/g, \"''\") + \"'\" }}::jsonb as payload\n),\ninserted as (\n  insert into public.selection_notifications (\n    conversation_id,\n    selected_finca_id,\n    recipient_phone,\n    template_name,\n    template_language,\n    status,\n    payload\n  )\n  select\n    input.conversation_id,\n    input.selected_finca_id,\n    input.recipient_phone,\n    input.template_name,\n    input.template_language,\n    'pending',\n    input.payload\n  from input\n  on conflict (conversation_id, selected_finca_id, recipient_phone)\n  where status in ('pending', 'sent')\n  do nothing\n  returning *\n)\nselect * from inserted;","options":{}},"id":"e8150ca8-b3a8-4c10-a5cd-412cc901042a","name":"Insert pending selection notification","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,240],"credentials":{"postgres":{"id":"OY6FEujGvFF1rDbg","name":"Postgres account"}}},{"parameters":{"jsCode":"const input = $json || {};\nconst payload = input.payload || {};\nconst text = (value) => {\n  const normalized = String(value ?? '').trim();\n  return normalized || 'Sin dato';\n};\nconst compact = (value) => String(value ?? '').trim();\nconst normalizePhone = (value) => {\n  const digits = String(value || '').replace(/\\D+/g, '').trim();\n  if (!digits) return '';\n  if (digits.startsWith('57') && digits.length === 12) return '+' + digits;\n  if (digits.length === 10) return '+57' + digits;\n  return '+' + digits;\n};\nconst sourceIdForPhone = (value) => String(value || '').replace(/\\D+/g, '').trim();\nconst parseNumber = (value) => {\n  const num = Number(value);\n  return Number.isFinite(num) && num > 0 ? num : null;\n};\n\nconst detail = [\n  'Teléfono: ' + text(payload.wa_id),\n  'Finca: ' + text(payload.selected_finca_name || payload.selected_finca_id),\n  'Fechas: ' + text(payload.fechas),\n  'Personas: ' + text(payload.personas),\n  'Zona: ' + text(payload.zona),\n  'Chatwoot: ' + text(payload.chatwoot_link),\n].join(' | ');\n\nconst recipientPhone = normalizePhone(input.recipient_phone);\nconst clientName = text(payload.client_name);\n\n// Chatwoot account 1 (owner-side WABA = +573105639334 — usa el mismo número\n// que envía solicitud_reserva al propietario, NO Kapso sandbox +1).\nconst inboxName = 'Agent_propietarios';\nconst chatwootBaseUrl = 'https://chat.depaseoenfincas.raaamp.co';\nconst chatwootAccountId = '1';\nconst chatwootApiToken = 'HHtQoPLW991XS8Rcu5thbZ5x';\nconst templateName = String(input.template_name || 'staff_finca_selected_v1').trim();\nconst templateLanguage = String(input.template_language || 'es_CO').trim();\n\nlet responseStatus = null;\nlet responseBody = null;\nlet providerMessageId = null;\nlet errorMessage = null;\nlet cwInboxId = null;\nlet cwContactId = null;\nlet cwConversationId = null;\n\nasync function cwApi(pathname, method = 'GET', body = null, query = null) {\n  const url = chatwootBaseUrl.replace(/\\/+$/, '') + (pathname.startsWith('/') ? pathname : '/' + pathname) +\n    (query ? '?' + Object.entries(query).filter(([k,v])=>v!=null&&v!=='').map(([k,v])=>encodeURIComponent(k)+'='+encodeURIComponent(String(v))).join('&') : '');\n  const opts = {\n    url,\n    method,\n    headers: { 'Content-Type': 'application/json', Accept: 'application/json', api_access_token: chatwootApiToken },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    timeout: 12000,\n  };\n  if (body !== null) opts.body = body;\n  const res = await this.helpers.httpRequest(opts);\n  return { status: res.statusCode, body: res.body };\n}\n\ntry {\n  if (!recipientPhone) throw new Error('selection_recipient_phone_missing');\n\n  // 1. Find inbox\n  const inboxesRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/inboxes');\n  if (inboxesRes.status >= 300) throw new Error('inbox_list_failed:' + inboxesRes.status);\n  const inboxes = inboxesRes.body?.payload || [];\n  const inbox = inboxes.find(i => compact(i.name).toLowerCase() === inboxName.toLowerCase()) || inboxes[0];\n  if (!inbox?.id) throw new Error('inbox_not_found:' + inboxName);\n  cwInboxId = parseNumber(inbox.id);\n\n  // 2. Find or create contact\n  const sourceId = sourceIdForPhone(recipientPhone);\n  const searchRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/contacts/search', 'GET', null, { q: sourceId });\n  let contact = null;\n  if (searchRes.status < 300) {\n    const matches = searchRes.body?.payload || [];\n    contact = matches.find(c => normalizePhone(c.phone_number) === recipientPhone) || null;\n  }\n  if (!contact) {\n    const createRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/contacts', 'POST', {\n      inbox_id: null,\n      name: clientName !== 'Sin dato' ? clientName : 'Cliente',\n      phone_number: recipientPhone,\n    });\n    if (createRes.status >= 300) throw new Error('contact_create_failed:' + createRes.status);\n    contact = createRes.body?.payload || createRes.body;\n  }\n  cwContactId = parseNumber(contact?.id);\n\n  // 3. Ensure contact-inbox link\n  const cibRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/contacts/' + cwContactId + '/contactable_inboxes');\n  let resolvedSourceId = sourceId;\n  if (cibRes.status < 300) {\n    const ex = (cibRes.body?.payload || []).find(e => parseNumber(e.inbox?.id) === cwInboxId);\n    if (ex) resolvedSourceId = compact(ex.source_id) || sourceId;\n    else {\n      const ciCreate = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/contacts/' + cwContactId + '/contact_inboxes', 'POST', {\n        inbox_id: cwInboxId,\n        source_id: sourceId,\n      });\n      if (ciCreate.status >= 300) throw new Error('contact_inbox_failed:' + ciCreate.status);\n      resolvedSourceId = compact(ciCreate.body?.source_id) || compact(ciCreate.body?.payload?.source_id) || sourceId;\n    }\n  }\n\n  // 4. Find or create conversation\n  const convCreate = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/conversations', 'POST', {\n    source_id: resolvedSourceId,\n    inbox_id: cwInboxId,\n    contact_id: cwContactId,\n    status: 'open',\n  });\n  if (convCreate.status >= 300) throw new Error('conversation_create_failed:' + convCreate.status);\n  cwConversationId = parseNumber(convCreate.body?.id);\n\n  // 5. Send template message\n  const sendRes = await cwApi.call(this, '/api/v1/accounts/' + chatwootAccountId + '/conversations/' + cwConversationId + '/messages', 'POST', {\n    content: 'Cliente: ' + clientName + '\\n\\n' + detail,\n    message_type: 'outgoing',\n    private: false,\n    content_type: 'text',\n    content_attributes: {},\n    template_params: {\n      name: templateName,\n      category: 'UTILITY',\n      language: templateLanguage,\n      processed_params: {\n        body: {\n          '1': clientName !== 'Sin dato' ? clientName : 'Cliente',\n          '2': detail,\n        },\n      },\n    },\n  });\n  responseStatus = sendRes.status;\n  responseBody = sendRes.body;\n  providerMessageId = compact(sendRes.body?.source_id) || null;\n  if (responseStatus < 200 || responseStatus >= 300) {\n    errorMessage = sendRes.body?.error?.message || sendRes.body?.message || JSON.stringify(sendRes.body) || 'chatwoot_template_send_failed';\n  }\n} catch (e) {\n  errorMessage = e.message || 'selection_template_send_exception';\n  responseBody = responseBody || { error: errorMessage };\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      provider_message_id: providerMessageId,\n      response_status: responseStatus,\n      response_body: responseBody,\n      ok: !errorMessage,\n      error_message: errorMessage,\n      selection_chatwoot_inbox_id: cwInboxId,\n      selection_chatwoot_contact_id: cwContactId,\n      selection_chatwoot_conversation_id: cwConversationId,\n    },\n  },\n];"},"id":"101a87f2-2170-4bd1-8e49-598c65c9d997","name":"Send WhatsApp selection template","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4480db2a-6a74-4345-97b3-c45cc90c9d18","leftValue":"={{ $json.ok === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"87cd6b79-1911-4182-ba46-49eea4919197","name":"Selection delivery ok?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,240]},{"parameters":{"operation":"executeQuery","query":"update public.selection_notifications\nset\n  status = 'sent',\n  provider_message_id = {{ $json.provider_message_id ? \"'\" + String($json.provider_message_id).replace(/'/g, \"''\") + \"'\" : 'null' }},\n  sent_at = now(),\n  error_message = null\nwhere id = {{ Number($json.id) }}\nreturning id, status;","options":{}},"id":"297b5b91-b82d-4465-a827-8acfe818f70e","name":"Mark selection notification sent","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1440,160],"credentials":{"postgres":{"id":"OY6FEujGvFF1rDbg","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update public.selection_notifications\nset\n  status = 'failed',\n  error_message = {{ $json.error_message ? \"'\" + String($json.error_message).replace(/'/g, \"''\") + \"'\" : \"'Unknown error'\" }}\nwhere id = {{ Number($json.id) }}\nreturning id, status;","options":{}},"id":"a2bf574b-05f5-418e-9679-1b72fcb5dc2d","name":"Mark selection notification failed","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1440,336],"credentials":{"postgres":{"id":"OY6FEujGvFF1rDbg","name":"Postgres account"}}}],"connections":{"When selection sender is called":{"main":[[{"node":"Expand selection notification batch","type":"main","index":0}]]},"Expand selection notification batch":{"main":[[{"node":"Insert pending selection notification","type":"main","index":0}]]},"Insert pending selection notification":{"main":[[{"node":"Send WhatsApp selection template","type":"main","index":0}]]},"Send WhatsApp selection template":{"main":[[{"node":"Selection delivery ok?","type":"main","index":0}]]},"Selection delivery ok?":{"main":[[{"node":"Mark selection notification sent","type":"main","index":0}],[{"node":"Mark selection notification failed","type":"main","index":0}]]},"Mark selection notification sent":{"main":[[]]},"Mark selection notification failed":{"main":[[]]}},"authors":"JUANDAVID VIZCAYA","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-26T16:31:24.822Z","id":326,"workflowId":"tNvfWKi1TA7O6maf","versionId":"4989a752-a2cb-4918-bbef-2fa50336ff56","event":"deactivated","userId":"257b3b29-80bb-4c81-9a8b-3afe1e45aa51"},{"createdAt":"2026-05-26T16:31:24.840Z","id":327,"workflowId":"tNvfWKi1TA7O6maf","versionId":"4989a752-a2cb-4918-bbef-2fa50336ff56","event":"activated","userId":"257b3b29-80bb-4c81-9a8b-3afe1e45aa51"}]}}